.main-about{
	background: url(../images/about-bg.jpg) no-repeat right bottom;
	position: relative;
	@include bp(sm){
		background: none;
	}
	&:after{
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, 0.73);
		display: none;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		@include bp(xl){
			display: block;
		}
	}
}

.about{
	padding-top: 20px;
	position: relative;
	z-index: 2;
}

.about-title{
	clear: both;
	display: block;
	font-size: 34px;
	color: #2b2b2b;
	font-family: $light-font;
	padding-top: 15px;
}

.about-wrapper{
	padding: 15px 0;
}

.about-pic{
	float: left;
	@include bp(sm){
		display: none;
	}
}

.about-text{
	padding-top: 45px;
	font-size: 18px;
	font-family: $light-font;
	color: #2b2b2b;
	line-height: 35px;
	@include bp(md){
		line-height: 26px;
	}
	@include bp(sm){
		padding-top: 0;
	}
	br{
		@include bp(md){
			display: none;
		}
	}
}