.main-cart{width:880px;background-color:#fff;position:fixed;height:100%;right:-890px;top:0;bottom:0;transition:.2s linear;z-index:20;color:#2b2b2b}.main-cart.active{right:0}.main-cart__close{font-size:50px}
/*# sourceMappingURL=_cart.css.map */
