.contacts{
	padding: 20px 0;
	color: #2b2b2b;
}

.contacts-wraper{
	padding-top: 20px;
	@include bp(xs){
		margin-bottom: -100px;
		overflow: hidden;
	}
}

.contacts-paragraph{
	line-height: 2;
	font-size: 18px;
	font-family: $light-font;
    @include bp(lg){
	    line-height: 1.5;	
    }
    @include bp(md){
	    line-height: 1.2;
	    font-size: 16px;
    }
    @include bp(xs){
	    font-size: 14px;
    }
	span{
		line-height: 45px;
		display: inline-block;
	}
}

.icon-clock{
	position: relative;
	width: 45px;
	line-height: 45px;
	margin-right: 5px;
    display: inline-block;
	&:before{
		font-size: 22px;
		width: 80%;
    	line-height: 45px;
	}
	&:after{
		content: '';
		position: absolute;
		width: 45px;
		height: 45px;
		border-radius: 100%;
		border: 1px solid #000;
		left: 0;
		top: 0;
	}
}

#mapdiv {
    background: center url(../images/map.png) no-repeat;
    background-size: contain;
    position: relative;
    width: 650px;
    transform: scale(.86) translateX(-8%);
    top: -50px;
    @include bp(lg){
	    transform: scale(.72) translateX(-21%);
	    top: -75px;    	
    }
    @include bp(md){
	    transform: translateX(-50%);
	    left: 50%; 
	    top: auto;
	    margin-top: 15px;
    }
    @include bp(sm){
	    transform: scale(0.72) translateX(-70%);
	    top: -20px;
	    margin-top: 0;
    }
    @include bp(xs){
	    transform: scale(0.48) translateX(-104%);
    	top: -70px;
    }
}

#map-cont{
    height: 100%;
    position: absolute;
    width: 100%;
    background-size: contain;
}

#Map{
    height: 100%;
    width: 100%;
}

.map-all{
	width: 100%;
}

#mapdiv{
    .map-1{
    	background: center url(../images/maps/map-1.png) no-repeat;
    	background-size: contain;
    }
    .map-2{
    	background: center url(../images/maps/map-2.png) no-repeat;
    	background-size: contain;
    }
    .map-3{
    	background: center url(../images/maps/map-3.png) no-repeat;
    	background-size: contain;
    }
    .map-4{
    	background: center url(../images/maps/map-4.png) no-repeat;
    	background-size: contain;
    }
    .map-5{
    	background: center url(../images/maps/map-5.png) no-repeat;
    	background-size: contain;
    }
    .map-6{
    	background: center url(../images/maps/map-6.png) no-repeat;
    	background-size: contain;
    }
    .map-7{
    	background: center url(../images/maps/map-7.png) no-repeat;
    	background-size: contain;
    }
    .map-8{
    	background: center url(../images/maps/map-8.png) no-repeat;
    	background-size: contain;
    }
    .map-9{
    	background: center url(../images/maps/map-9.png) no-repeat;
    	background-size: contain;
    }
    .map-10{
    	background: center url(../images/maps/map-10.png) no-repeat;
    	background-size: contain;
    }
    .map-11{
    	background: center url(../images/maps/map-11.png) no-repeat;
    	background-size: contain;
    }
    .map-12{
    	background: center url(../images/maps/map-12.png) no-repeat;
    	background-size: contain;
    }
    .map-13{
    	background: center url(../images/maps/map-13.png) no-repeat;
    	background-size: contain;
    }
    .map-14{
    	background: center url(../images/maps/map-14.png) no-repeat;
    	background-size: contain;
    }
    .map-15{
    	background: center url(../images/maps/map-15.png) no-repeat;
    	background-size: contain;
    }
    .map-16{
    	background: center url(../images/maps/map-16.png) no-repeat;
    	background-size: contain;
    }
    .map-17{
    	background: center url(../images/maps/map-17.png) no-repeat;
    	background-size: contain;
    }
    .map-18{
    	background: center url(../images/maps/map-18.png) no-repeat;
    	background-size: contain;
    }
    .map-19{
    	background: center url(../images/maps/map-19.png) no-repeat;
    	background-size: contain;
    }
    .map-20{
    	background: center url(../images/maps/map-20.png) no-repeat;
    	background-size: contain;
    }
    .map-21{
    	background: center url(../images/maps/map-21.png) no-repeat;
    	background-size: contain;
    }
    .map-22{
    	background: center url(../images/maps/map-22.png) no-repeat;
    	background-size: contain;
    }
    .map-23{
    	background: center url(../images/maps/map-23.png) no-repeat;
    	background-size: contain;
    }
    .map-24{
    	background: center url(../images/maps/map-24.png) no-repeat;
    	background-size: contain;
    }
    .map-25{
    	background: center url(../images/maps/map-25.png) no-repeat;
    	background-size: contain;
    }
}

#filia{
	width: 100%;
	position: relative;
	padding: 30px 65px;
	top: -50px;
	border: 1px solid #c4c5c5;
	line-height: 2;
	font-size: 18px;
	font-family: $light-font;
    @include bp(lg){
	    top: -75px;    
	    padding: 20px 40px;
	    line-height: 1.5;	
    }
    @include bp(md){
	    line-height: 1.2;
	    font-size: 16px;
	    top: auto;
	    margin-top: 15px;
    }
    @include bp(xs){
	    font-size: 14px;
    }
    @include bp(sm){
	    top: -40px;
	    margin-top: 0;
    }
    @include bp(xs){
	    top: -140px;
	    padding: 15px;
    }
}