
.delivery-wrap{
	padding-top: 20px;
	@include bp(sm){
		padding-bottom: 40px;
		text-align: center;
	}
}

.delivery-title{
	clear: both;
	display: block;
	font-size: 34px;
	color: #2b2b2b;
	font-family: $light-font;
	padding-top: 15px;
	@include bp(sm){
		text-align: left;
	}
}

.delivery-row{
	padding: 15px 0 30px;
	@include bp(sm){
		padding-bottom: 0;
	}
	.col-sm-4{
		margin-bottom: 15px;
	}
}

.delivery-subtitle{
	font-size: 20px;
	font-family: $bold-font;
	margin-bottom: 15px;
	@include bp(sm){
		text-align: left;
	}
}

.delivery-icon{
	display: block;
	margin-bottom: 15px;
	&:before{
		font-size: 58px;
		margin: 0;
	}
}

.delivery-list-title{
	display: block;
	font-family: $light-font;
	font-size: 24px;
	margin-bottom: 5px;
}

.delivery-list{
	font-family: $light-font;
	font-size: 18px;
	padding-left: 18px;
	@include bp(sm){
		text-align: left;
	}
	@include bp(xs){
		font-size: 15px;
	}
}

.delivery-list-item{
	list-style-type: disc;
	margin-bottom: 5px;
}

.delivery-text{
	font-family: $light-font;
	font-size: 18px;
	@include bp(sm){
		text-align: left;
	}
	@include bp(xs){
		font-size: 15px;
	}
}