.main-footer{
	padding: 28px 0 18px;
	background-color: #d9d9d9;
	position: relative;
	transition: .2s linear;
	left: 0;
	&.active{
		left: 300px;
	}
}

.top-footer{
	padding-bottom: 35px;
	border-bottom: 1px solid #fff;
	position: relative;
	@include bp(xs){
		padding-top: 50px;
		padding-bottom: 80px;
	}
}

.footer-phones__wrapper{
	width: 16.666666%;
	float: left;
	@include bp(lg){
		width: 20%;
	}
	@include bp(sm){
		width: 30%;
	}
	@include bp(xs){
		width: 130px;
	    position: absolute;
	    top: -15px;
	    left: calc(50% - 65px);
	}
}

.footer-phones__title{
	font-family: $bold-font;
	line-height: 22px;
}

.footer-phone{
	line-height: 22px;
	font-family: $light-font;
	@include bp(lg){
		line-height: 1;
	}
	@include bp(md){
		font-size: 14px;
	}
}

.footer-phone__link{
	&:hover{
		text-decoration: none;
		color: $lighter;
	}
}

.footer-subscribe__wrapper{
	width: 28.458049%;
	padding: 0 15px;
	float: left;
	@include bp(lg){
		width: 40%;
	}
	@include bp(sm){
		width: 70%;
	}
	@include bp(xs){
		width: 100%;
		padding: 0;
	}
}

.subscribe-form__input{
	width: 56%;
	float: left;
	border: none;
	border-bottom: 1px solid #000;
	margin-right: 10px;
	height: 40px;
	line-height: 44px;
	background-color: transparent;
	&:focus{
		border-bottom: 1px solid $lighter;
	}
}

.subscribe-form__btn{
	width: 40%;
	text-align: center;
	float: right;
	border: 1px solid #000;
	height: 40px;
	line-height: 36px;
	background-color: #bcbcbc;
	&:hover{
		background-color: $lighter;
	}
}

.footer-socials__wrapper{
	width: 18.140589%;
	padding-left: 80px;
	float: left;
	@include bp(xxl){
		padding-left: 50px;
	}
	@include bp(xl){
		padding-left: 20px;
	}
	@include bp(lg){
		padding-left: 0;
		position: absolute;
		top: 64px;
		left: 267px;
		width: 230px;
		line-height: 33px;
	}
	@include bp(md){
		left: 157px;
	}
	@include bp(sm){
		left: 0;
		top: 125px;
	}
	@include bp(xs){
		top: auto;
		left: auto;
		right: 0;
		bottom: 10px;
		width: 134px;
	}
}

.footer-socials__title{
	@include bp(lg){
		float: left;
		margin-right: 10px;
	}
	@include bp(sm){
		font-family: $bold-font;
		float: none;
	}
}

.footer-socials__list{
	margin-top: 8px;
	@include bp(xl){
		margin-top: 0;
	}
	@include bp(lg){
		float: left;
	}
	@include bp(sm){
		float: none;
	}
}

.footer-socials{
	float: left;
	width: 33px;
	height: 33px;
	margin-right: 10px;
	&:hover, &:focus{
		.footer-socials__link{
			background-color: $light;
			text-decoration: none;
			&:before{			
				color: $blue;
				text-decoration: none;
			}
		}
	}	
}

.footer-socials__link{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #bcbcbc;
	border-radius: 100%;
	&:before{
		height: 100%;
		line-height: 33px;
		width: 100%;
		margin: 0;
		text-align: center;
		font-weight: bold;
	}
}

.footer-menu__wrapper{
	width: 27.210884%;
	float: left;
	@include bp(lg){
		width: 40%;
	}
	@include bp(sm){
		float: right;
		padding-top: 20px;
		width: 55%;
	}
	@include bp(xs){
		width: 100%;
	}
}

.footer-menu__list{
	list-style-position: inside;
	column-count: 2;
}

.footer-menu__item{
	line-height: 26px;
	font-family: $light-font;
}

.footer-payment__wrapper{
	width: 9.523812%;
	float: left;
	@include bp(lg){
		position: absolute;
		width: 125px;
		top: 72px;
	}
	@include bp(sm){
		top: 68px;
	}
	@include bp(xs){
		bottom: 10px;
		top: auto;
	}
}

.footer-payment__title{
	font-family: $bold-font;
}

.footer-payment__list{
	margin-top: 8px;
	@include bp(xs){
		margin-top: 17px;
	}
}

.footer-payment__item{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.copyright-footer{
	padding-top: 20px;
	position: relative;
	@include bp(sm){
		padding-bottom: 100px;
	}
	@include bp(xs){
		text-align: center;
		padding-bottom: 70px;
	}
}

.footer-logo__wrapper{
	float: left;
	@include bp(sm){
		width: 192px;
	}
	@include bp(xs){
		width: auto;
		float: none;
	}
	img{
		@include bp(sm){
			width: 100%;
		}
		@include bp(xs){
			width: auto;
		}
	}
}

.copyright-info{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	font-family: $light-font;
	line-height: 47px;
	@include bp(md){
		line-height: 25px;
	}
	@include bp(sm){
		bottom: 0;
	}
	span{
		@include bp(md){
			display: block;
		}
	}
}

.bz-logo{
	float: right;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    @include bp(xs){
    	float: none;
    	margin-top: 10px;
    }
}

.bz-logo__title {
    position: absolute;
    font-size: 18px;
    font-family: $bold-font;
    right: 100%;
    line-height: 50px;
    width: 152px;    
	@include bp(xl){
		right: auto;
		left: 0;
		top: 4px;
		line-height: 1;
	}
	@include bp(md){
		font-size: 16px;
	}
}

.bz-logo__link {
    color: #000;
    font-size: 18px;
    font-family: $bold-font;
    text-decoration: underline;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 47px;
    line-height: 50px;
    background-image: url(../images/Logo-BZ.svg);
    background-repeat: no-repeat;
    background-size: 47px 94px;
    background-position: right 0;
    padding-right: 53px;
	@include bp(xl){
		line-height: 73px;
	}
	@include bp(md){
		font-size: 15px;
	}
    &:hover {
	    background-position: right -47px;
	    text-decoration: none;
	}
}