@import 'mixin';

.main-header{
	background-color: rgba(255, 255, 255, 0.8);
	height: 70px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.45);
	@include bp(sm){
		height: 54px;
	}
}

.logo-wrapper{
	padding: 7px 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	@include bp(sm){
		height: 100%;
	}
	img{
		@include bp(sm){
			height: 100%;
		}
	}
}

.toggle-switch {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 70px;
    height: inherit;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
	background-color: $lighter;
	display: block;
	float: left;
	@include bp(sm){
		width: 54px;
	}
	&.active{
		background-color: $blue;
		span{
			background: none;
			&:before{
				top: 0;
				transform: rotate(45deg);
				transition-delay: 0, 0.3s;
			}
			&:after{
				bottom: 0;
				transform: rotate(-45deg);
				transition-delay: 0, 0.3s;
			}
		}
	}
	span {
		display: block;
		position: absolute;
		top: 33px;
		left: 15px;
		right: 15px;
		height: 4px;
		background: #fff;
		transition: 0 0.3s;
		@include bp(sm){
			left: 10px;
			right: 10px;
			top: 26px;
		}
		&:before{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #fff;
			content: '';
			top: -15px;
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0;
			transition-property: top, transform;
			@include bp(sm){
				top: -13px;
			}
		}
		&:after{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #fff;
			content: '';
			bottom: -15px;
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0;
			transition-property: top, transform;
			@include bp(sm){
				bottom: -13px;
			}
		}
	}
}

.search-btn{
	width: 70px;
	height: inherit;
	border-color: $light;
	position: relative;
	left: auto;
	top: auto;
	border: none;
	display: block;
	float: left;
	transition: background 0.3s;
	&.active{
		background-color: #b2cdd8;
		&:before{
			display: none;
		}
		span{
			display: block;
			background: none;
			&:before{
				top: 0;
				transform: rotate(45deg);
				transition-delay: 0, 0.3s;
			}
			&:after{
				bottom: 0;
				transform: rotate(-45deg);
				transition-delay: 0, 0.3s;
			}
		}
	}
	@include bp(sm){
		width: 54px;
	}
	&:before{
		font-size: 33px;
		color: #fff;
		@include bp(sm){
			font-size: 26px;
		}
	}
	&:hover, &:focus{
		&:before{
			color: $lighter;
		}
	}
	span {
		display: none;
		position: absolute;
		top: 33px;
		left: 15px;
		right: 15px;
		height: 4px;
		background: #fff;
		transition: 0 0.3s;
		@include bp(sm){
			left: 10px;
			right: 10px;
			top: 26px;
		}
		&:before{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #fff;
			content: '';
			top: -15px;
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0;
			transition-property: top, transform;
			@include bp(sm){
				top: -13px;
			}
		}
		&:after{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #fff;
			content: '';
			bottom: -15px;
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0;
			transition-property: top, transform;
			@include bp(sm){
				bottom: -13px;
			}
		}
	}
}

.header-menu{
	text-transform: uppercase;
	line-height: 74px;
	height: inherit;
	@include bp(xl){
		display: none;
	}
	&.header-menu__left{
		float: left;
		width: 39.583333%;
		margin-left: 1.979166%;
		@include bp(xxl){
			width: auto;
		}
	}
	&.header-menu__right{
		float: right;
		width: 17.1875%;
		@include bp(xxl){
			width: auto;
		}
	}
}

.header-menu__item{
	height: inherit;
	padding: 0 15px;
	text-align: center;
	&.header-menu__item-left{
		float: left;
	}
	&.header-menu__item-right{
		float: right;
	}
	&.item1{
		width: 25.921052%;
		@include bp(xxl){
			width: auto;
		}
	}
	&.item2{
		width: 25.657894%;
		@include bp(xxl){
			width: auto;
		}
	}
	&.item3{
		width: 38.421052%;
		@include bp(xxl){
			width: auto;
		}
	}
	&.item4{
		width: 54.848484%;
		@include bp(xxl){
			width: auto;
		}
	}
	&.item5{
		width: 45.151516%;
		text-align: right;
		@include bp(xxl){
			width: auto;
		}
	}
}

.cart-wrapper{
	float: right;
	width: 70px;
	line-height: 70px;
	height: inherit;
	background-color: $semi-light;
	cursor: pointer;
	@include bp(sm){
		line-height: 54px;
		width: 54px;
	}
	&:before{
		color: #fff;
		font-size: 33px;
		left: 50%;
		width: 100%;
		margin: 0;
		line-height: 70px;
		@include bp(sm){
			line-height: 54px;
			font-size: 26px;
		}
	}
}

.cart{
	display: block;
	width: 100%;
	height: inherit;
	color: #fff;
	position: relative;
	top: -70px;
	@include bp(sm){
		top: -54px;
	}
}

.cart-items{
	font-family: $light-font;
	background: $semi-light;
	border-radius: 100%;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 26px;
	line-height: 1;
	@include bp(sm){
		font-size: 14px;
		top: 19px;
	}
}

.login-btn{
	width: 70px;
	height: inherit;
	border-color: $light;
	position: relative;
	left: auto;
	top: auto;
	border: none;
	display: block;
	float: right;
	@include bp(sm){
		width: 54px;
	}
	&:before{
		font-size: 33px;
		color: #fff;
		@include bp(sm){
			font-size: 26px;
		}
	}
	&:hover, &:focus{
		&:before{
			color: $lighter;
		}
	}
}

.price-btn{
	width: 198px;
	height: inherit;
	border-color: transparent;
	position: relative;
	left: auto;
	top: auto;
	border: none;
	display: block;
	float: right;
	color: $blue;
	line-height: 74px;
	text-transform: uppercase;
	font-family: $bold-font;
	padding-right: 50px;
	text-align: right;
	cursor: pointer;
	&:hover, &:focus{
		text-decoration: none;		
		.icon-dowl{
			&:before{
				color: #000;
			}
		}
	}
	@include bp(xl){
		float: left;
	}
	@include bp(md){
		font-size: 0;
		padding-right: 10px;
		padding-left: 45px;
		width: auto;
	}
	@include bp(sm){
		padding-left: 36px;
	}
	@include bp(xs){
		display: none;
	}
}

.icon-dowl{
	position: absolute;
	right: 5px;
	height: 100%;
	&:before{
		font-size: 33px;
		color: $blue;
		line-height: 70px;
		@include bp(sm){
			line-height: 54px;
			font-size: 26px;
		}
	}
}

.header-phones__list{
	height: inherit;
	border-color: transparent;
	position: relative;
	left: auto;
	top: auto;
	border: none;
	display: block;
	float: right;
	line-height: 74px;
	font-family: $bold-font;
	font-size: 20px;
	padding-right: 50px;
	text-align: left;
	padding: 0 20px 0 40px;
	cursor: pointer;
	width: 252px;
	@include bp(xl){
		margin-right: 10px;
	}
	@include bp(md){
		width: 50px;
	}
	@include bp(sm){
		margin-right: 5px;
		line-height: 58px;
		padding-left: 34px;
	}
	@include bp(xs){
		display: none;
	}
	&:hover{
		text-decoration: none;
		&:before{
			color: $lighter;
		}
		&:after{
			color: $lighter;
		}
		.header-phones__item{
			display: block;
			&.hidden-phone{
				display: none;				
				@include bp(md){
					display: block;
				}
			}
		}
	}
	&:before{
		font-size: 33px;
		color: #000;
		position: absolute;
		left: 0;
		line-height: 70px;
		@include bp(sm){
			font-size: 26px;
			line-height: 54px;
		}
	}
	&:after{
		position: absolute;
		content: '>';
		transform: rotate(90deg);
		font-size: 18px;
		color: #000;
		position: absolute;
		right: 5px;
		top: -2px;
	}
	.code{
		font-size: 16px;
		font-family: $light-font;
	}
}

.header-phones__item{
	width: 100%;
	height: inherit;
	display: none;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0 9px;
	@include bp(md){
	    position: relative;
	    width: 193px;
	    right: 163px;
	    height: 44px;
    	line-height: 44px;
	}
	&:first-child{
		display: block;
		background-color: transparent;
		@include bp(md){
			font-size: 0;
			display: none;
			height: 70px;
			.code{
				font-size: 0;
			}
		}
	}
	&:last-child{		
		box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.45);
		@include bp(md){
			box-shadow: none;
		}
	}
	&.hidden-phone{		
		display: none;
	}
}

.header-phones__link{
	&:hover, &:focus{
		text-decoration: none;
	}
}

.main-menu{
	width: 300px;
	border-right: 1px solid #c3c3c3;
	background-color: #faf7f4;
	position: fixed;
	height: 100%;
	left: -310px;
	top: 70px;
	transition: .2s linear;
	float: left;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.45);
	z-index: 5;
	&.active{
		left: 0;
	}
	@include bp(sm){
		top: 54px;
	}
}

.main-menu-list{
	width: 100%;
	padding: 6px 0;
}

.main-menu-list__item{
	width: 100%;
	height: 56px;
	line-height: 56px;
	display: flex;
	align-items: center;
}

.main-menu-list__item-link{
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 16px;
	font-family: $light-font;
	padding: 0 15px;
	&:hover{
		color: #000;
		background-color: #d6e5ec;
		text-decoration: none;
	}
}

.main-search{
	width: 300px;
	border-right: 1px solid #c3c3c3;
	background-color: #faf7f4;
	position: fixed;
	height: 100%;
	left: -310px;
	top: 70px;
	transition: .2s linear;
	float: left;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.45);
	z-index: 5;
	&.active{
		left: 0;
	}
	@include bp(sm){
		top: 54px;
	}
}

.search-wrapper{
	display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 6px;
    justify-content: space-between;
	border-bottom: 1px solid #d0d0d0;
}

.search-field{
	width: 85%;
	border: none;
	height: inherit;
	line-height: inherit;
	padding: 0 15px;
	background-color: transparent;
}

.search-field-btn{
	border: none;
	background-color: transparent;
	height: inherit;
	line-height: inherit;
	&:before{
		font-size: 33px;
		height: inherit;
		line-height: inherit;
	}
	&:hover{
		&:before{
			color: $blue;
		}
	}
}