.order{
	padding: 20px 0 60px;
	color: #2b2b2b;
}

.order-info{
	margin-top: 20px;
	background-color: #f9fdff;
	box-shadow: 0 22px 35px 5px rgba(32, 22, 0, 0.18);
}

.order-info__main{
	padding: 20px 25px;
	@include bp(xs){
		padding: 15px;
	}
}

.order-info__type{
	font-family: $light-font;
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
	@include bp(xs){
		margin-bottom: 8px;
		font-size: 14px;
	}
}

.order-info__title{
	font-size: 18px;
	display: block;
	@include bp(xs){
		font-size: 16px;
	}
}

.order-info__product{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	@include bp(xs){
		flex-direction: column;
	}
}

.order-info__pic{
	max-width: 165px;
	@include bp(xs){
		padding-bottom: 10px;
	}
}

.order-info__txt{
	padding: 15px;
	@include bp(xs){	
		padding: 15px 0;
	}
}

.order-info__buy{
	border-top: 2px solid #eee;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include bp(xs){
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}
}

.order-info__buy-title{
	font-family: $light-font;
	font-size: 14px;	
	@include bp(xs){
		margin-bottom: 10px;
		display: block;
	}
}

.order-info__vol{
	width: 120px;
	color: #cfcfcf;
	text-align: center;
	@include bp(sm){
		width: 100px;
	}	
	@include bp(xs){
		width: 120px;
		margin-bottom: 10px;
	}
	.volume-slider{
		font-family: $default-font;
		font-size: 18px;
		line-height: 22px;
		.arrow-left{
			width: 22px;
			height: 22px;
			background-color: #f9fdff;
			&:before{
				display: block;
				line-height: 23px;
				margin: 0 auto;
			}
		}
		.arrow-right{
			width: 22px;
			height: 22px;
			background-color: #f9fdff;
			&:before{
				display: block;
				line-height: 23px;
				margin: 0 auto;
			}
		}
	}
}

.order-info__price{
	@include bp(xs){
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
}

.order-info__usd{
	font-size: 20px;
	line-height: 30px;
	@include bp(sm){
		font-size: 18px;
	}
}

.order-info__uah{
	font-family: $bold-font;
	font-size: 30px;
	line-height: 30px;
	@include bp(sm){
		font-size: 24px;
	}
}

.delivery-info{
	margin-top: 45px;
	background-color: #f9fdff;
	box-shadow: 0 22px 35px 5px rgba(32, 22, 0, 0.18);
}

.delivery-form{
	padding-bottom: 30px;
}

.delivery-info__top{
	padding: 30px 20px;
	border-bottom: 2px solid #eee;
	@include bp(xs){
		padding: 20px 15px;
	}
}

.delivery-info__title{
	font-size: 20px;
	font-family: $light-font;
	display: block;
	@include bp(sm){
		text-align: center;
	}
	@include bp(xs){
		font-size: 18px;
	}
}

.delivery-info__field{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.delivery-info__label{
	font-size: 16px;
	font-family: $light-font;
	width: 25%;
	@include bp(xs){
		font-size: 14px;
	}
}

.delivery-info__input{
	width: 75%;
	height: 48px;
	line-height: 48px;
	border: 1px solid #e0e0e0;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	@include bp(xs){
		height: 40px;
		line-height: 40px;
	}
}

.delivery-info__mid{
	padding: 30px 20px;
	border-bottom: 2px solid #eee;
	@include bp(xs){
		padding: 20px 15px;
	}
}

.delivery-types{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	@include bp(sm){
		flex-direction: column;
	}
}

.delivery-types__item{
	display: flex;
	align-items: center;
	margin-right: 20px;
	@include bp(sm){
		margin-right: 0;
		margin-bottom: 10px;
	}
	@include bp(xs){
		font-size: 15px;
	}
}

.delivery-info__bot{
	padding: 30px 20px;
	@include bp(xs){
		padding: 20px 15px;
	}
}

.delivery-types__radio{
	display: none;
	+label{
		cursor: pointer;
		opacity: 0.7;
		&:before{
			font-size: 35px;
			position: relative;
			top: 7px;
			@include bp(xs){
				font-size: 25px;
			}
		}
		&.icon-np{
			&:before{
				top: -3px;
			}			
		}
	}
	&:checked{
		+label{
			opacity: 1;
		}
	}
}

.delivery-btn{
	width: 225px;
	height: 48px;
	line-height: 48px;
	border: none;
	font-size: 16px;
	text-align: center;
	font-family: $default-font;
	text-transform: uppercase;
	background-color: #347ea1;
	color: #fff;
	box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.25);
	transition: .2s linear;
	display: block;
	margin: 30px auto 0;
	&:hover{
		background-color: #70a4bc;
	}
	@include bp(sm){
		margin-top: 0;
	}
	@include bp(xs){
		height: 40px;
		line-height: 40px;
	}
}
