.resume-popup{
	width: 908px;
	height: 230px;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px 30px;
	position: relative;
	color: #2b2b2b;
	font-family: $light-font;
	@include bp(md){
		width: 450px;
		height: auto;
		padding: 40px 25px;
	}
	@include bp(xs){
		padding: 20px 15px;
		width: 95%;
	}
}

.mfp-bg{
	opacity: 0.4;
}

.mfp-close{
	font-size: 90px;
    top: -50px;
    line-height: 51px;
    overflow: hidden !important;
    height: 37px;
    color: #fff !important;
    opacity: 1;
    font-family: $light-font;
    &:active{
    	top: -50px;
    }
}

.popup-form-title{
	font-size: 40px;
	margin-bottom: 20px;
	@include bp(md){
		font-size: 30px;
		text-align: center;
	}
	@include bp(xs){
		font-size: 24px;
		margin-bottom: 10px;
	}
}

.popup-form-descr{
	font-size: 16px;
	display: block;
	margin-bottom: 20px;
	@include bp(md){
		text-align: center;
	}
	@include bp(xs){
		margin-bottom: 10px;
		font-size: 14px;
	}
	a{
		color: #347ea1;
		text-decoration: underline;
		font-family: $bold-font;
	}
}

.popup-form-descr-bold{
	font-size: 16px;
	display: block;
	margin-bottom: 30px;
	font-family: $bold-font;
	@include bp(md){
		text-align: center;
	}
	@include bp(xs){
		margin-bottom: 10px;
	}
}

.popup-form-fields{
	display: flex;
	justify-content: space-between;
	&.reg-fields{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&.price-fields{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	@include bp(md){
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.popup-form-composition{
	width: 260px;
	position: relative;
	&.reg-composition{
		width: 100%;
		margin-bottom: 20px;
		@include bp(xs){
			margin-bottom: 7px;
		}
	}
	&.price-composition{
		margin-bottom: 20px;
	}
	&.btn-composition{
		margin-bottom: 0px;
	}
	&.center{
		margin: 0 auto;
	}
	@include bp(md){
		margin-bottom: 15px;
	}
}

.popup-form-input{
	width: 100%;
	height: 48px;
	line-height: 48px;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	text-align: center;
	@include bp(xs){
		height: 40px;
		line-height: 40px;
	}
	&.attach{
		opacity: 0;
		position: relative;
		cursor: pointer;
		z-index: 2;
		+label{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			cursor: pointer;
			width: 100%;
			height: 48px;
			line-height: 48px;
			font-size: 16px;
			text-align: center;
			border: 2px dashed #e0e0e0;
		}
	}
}

.popup-form-btn{
	width: 100%;
	height: 48px;
	line-height: 48px;
	border: none;
	font-size: 16px;
	text-align: center;
	font-family: $default-font;
	text-transform: uppercase;
	background-color: #347ea1;
	color: #fff;
	box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.25);
	transition: .2s linear;
	&.btn-thanks{
		width: 300px;
		display: block;
		@include bp(md){
			margin: 0 auto;
		}
		@include bp(xs){
			width: 100%;
		}
		&:hover{
			text-decoration: none;
		}
	}
	&:hover{
		background-color: #70a4bc;
	}
	&.yellow{
		background-color: #e8df78;
		color: #2b2b2b;
		&:hover{
			background-color: #f0e240;
		}
	}
	@include bp(xs){
		height: 40px;
		line-height: 40px;
	}
}

.register-popup{
	width: 795px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	color: #2b2b2b;
	font-family: $light-font;
	@include bp(md){
		width: 750px;
	}
	@include bp(sm){
		width: 450px;
	}
	@include bp(xs){
		width: 95%;
	}
}

.log-reg-wrapper{
	width: 100%;
	display: flex;
	align-items: stretch;
	@include bp(sm){
		flex-direction: column;
	}
}

.reg-wrapper{
	width: 50%;
	padding: 35px 45px 45px;
	@include bp(md){
		padding: 35px 35px 45px;
	}
	@include bp(sm){
		width: 100%;
		padding: 25px 20px;
	}
	@include bp(xs){
		padding: 20px 15px;
	}
}

.popup-reg-list{
	font-family: $light-font;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	width: 330px;
    padding-left: 5px;
	@include bp(xs){
		width: 100%;
		padding-left: 0;
		font-size: 14px;
		margin-bottom: 5px;
	}
    &.reverse{
    	flex-direction: row;
    	width: 100%;
    	padding-left: 0;
    	justify-content: space-between;
		@include bp(sm){
			display: none;
		}
    	.popup-reg-list__item{
    		width: 200px;
		    justify-content: flex-start;
		    flex-wrap: wrap;
		    align-content: flex-start;
    	}
    }
}

.popup-reg-list__item{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	@include bp(sm){
		margin-bottom: 6px;
	}
}

.popup-reg-list__text{
	display: flex;
	width: 300px;
	@include bp(xs){
		width: 100%;
	}
}

.popup-reg-list__icon{
	&:before{
		font-size: 40px;
		margin-left: 0;
		margin-bottom: 6px;
		@include bp(xs){
			font-size: 25px;
		}
	}
}

.log-wrapper{
	width: 50%;
	padding: 60px 45px;
	background-color: #b2cedc;
	@include bp(md){
		padding: 60px 35px;
	}
	@include bp(sm){
		width: 100%;
		padding: 25px 20px;
	}
	@include bp(xs){
		padding: 20px 15px;
	}
}

.regisration-wrapper{
	display: none;
	padding: 45px 60px;
	@include bp(md){
		padding: 45px;
	}
	@include bp(sm){
		padding: 25px;
	}
	@include bp(xs){
		padding: 20px 15px;
	}
}

.reg-form-row{
	margin-bottom: 30px;
	@include bp(sm){
		margin-bottom: 0px;
	}
}

.reg-form-cell{
	display: flex;
	align-items: center;
	@include bp(sm){
		margin-bottom: 10px;
	}
	@include bp(xs){
		margin-bottom: 7px;
	}
}

.reg-form-label{
	font-size: 16px;
	width: 25%;
	padding-right: 10px;
	@include bp(xs){
		font-size: 14px;
		width: 30%;
	}
}

.reg-form-input{
	width: 75%;
	height: 48px;
	line-height: 48px;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	text-align: left;
	padding: 0 10px;
	@include bp(xs){
		height: 36px;
		line-height: 36px;
		width: 70%;
	}
}

.agreement{
	font-size: 16px;
	a{
		color: #347ea1;
		text-decoration: underline;
		font-family: $bold-font;
	}
	@include bp(xs){
		font-size: 14px;
	}
}

.register-btn{
	margin: 30px auto 0;
	@include bp(xs){
		margin-top: 15px;
	}
}

.price-popup{

}

.price-popup{
	width: 795px;
	margin: 0 auto;
	background-color: #b2cedc;
	position: relative;
	color: #2b2b2b;
	font-family: $light-font;
	display: flex;
	align-items: stretch;
	position: relative;
	@include bp(md){
		width: 750px;
	}
	@include bp(sm){
		width: 450px;
	}
	@include bp(xs){
		width: 95%;
	}
}

.price-popup__top-title{
	font-size: 34px;
	font-family: $default-font;
	color: #fff;
	top: -44px;
	left: 0;
	position: absolute;
	@include bp(sm){
		display: none;
	}
}

.price-popup-bg{
	width: 100%;
	@include bp(sm){
		display: none;
	}
}

.price-popup-form{
	width: 100%;
	padding: 115px 25px;
	text-align: center;
	@include bp(sm){
		padding: 45px 25px;
	}
}

.price-popup-title{
	font-family: $bold-font;
	font-size: 40px;
	margin-bottom: 20px;
	@include bp(md){
		font-size: 30px;
		text-align: center;
	}
	@include bp(xs){
		font-size: 24px;
		margin-bottom: 10px;
	}
}

.price-popup-descr{
	font-family: $light-font;
	font-size: 22px;
	display: block;
	margin-bottom: 30px;
	@include bp(md){
		font-size: 20px;
	}
	@include bp(xs){
		font-size: 16px;
		margin-bottom: 20px;
	}
}

.thanks-popup{
	width: 795px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	color: #2b2b2b;
	font-family: $light-font;
	padding: 30px;
	@include bp(md){
		width: 750px;
	}
	@include bp(sm){
		width: 450px;
	}
	@include bp(xs){
		width: 95%;
	}
}