.resume-popup{width:908px;height:230px;margin:0 auto;background-color:#fff;padding:40px 30px;position:relative}.mfp-close{font-size:70px;top:-70px;color:#fff;opacity:1}
/*# sourceMappingURL=_popup.css.map */
