.main-container{
	padding-top: 70px;
	min-height: calc(100vh - 253px);
}

.product-wrapper{
	width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
	@include bp(xl){
		width: 1170px;
	}
	@include bp(lg){
		width: 970px;
	}
	@include bp(md){
		width: 750px;
	}
	@include bp(sm){
		width: 100%;
	}
}

.product-header{
	border-bottom: 2px solid #eee;
	padding-top: 22px;
}

.breadcrumbs{
	font-size: 14px;
	font-family: $light-font;
	color: #aaa;
}

.breadcrumbs-item{
	float: left;
	&.separator{
		margin: 0 7px;
	}
}

.breadcrumbs-link{
	color: #aaa;
}

.product-name{
	clear: left;
	font-size: 34px;
	padding-top: 16px;
	@include bp(sm){
		font-size: 30px;
	}
	@include bp(xs){
		font-size: 21px;
	}
}

.product-menu{
	clear: left;
	color: #2b2b2b;
	width: 100%;
	padding-top: 16px;
	font-size: 0px;
}

.product-menu__item{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	width: 170px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	cursor: pointer;
	text-align: center;
	&.active{
		background-color: #eeeeee;
	}
	@include bp(sm){
		width: 33.333333%;
	}
	@include bp(xs){
		height: 40px;
		line-height: 40px;
	}
}

.product-content{
	display: none;
	padding-top: 50px;
	@include bp(xs){
		padding-top: 30px;
	}
	&.active{
		display: block;
	}
}

.product-content__main{
	padding-bottom: 55px;
	border-bottom: 2px solid #eee;
}

.product-pic__wrapper{
	padding-left: 0;
	text-align: center;
	@include bp(lg){
		padding: 0;
	}
	img{
		display: block;
		object-fit: contain;
		max-width: 100%;
		margin: 0 auto 20px;
	}
}

.product-specs__wrapper{
	padding: 0;
	display: flex;
	align-content: stretch;
	@include bp(lg){
		padding: 0;
	}
	@include bp(sm){
		display: block;
	}
}

.product-buy__wrapper{
	position: relative;
	padding-top: 5px;
	display: flex;
	align-content: stretch;
	width: 60%;
	@include bp(sm){
		width: 100%;
		padding: 0;
	}
}

.product-buy__inner{
	position: relative;
	width: 100%;
	box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.3);
	display: flex;
	align-content: stretch;
	flex-direction: column;
	justify-content: space-between;
}

.product-label{
	position: absolute;
	width: 142px;
	height: 57px;
	font-size: 16px;
	line-height: 57px;
	color: #000;
	font-family: $light-font;
	top: 17px;
    right: -23px;
    z-index: 2;
    @include bp(md){
    	top: -23px;
    }
	&.new{
		background: url(../images/label-new.png) no-repeat;
	}
	span{
		display: block;
		position: absolute;
		left: 24%;
		right: 8%;
		text-align: center;
	}
}

.product-buy__top{
	padding: 25px;
    @include bp(xs){
    	padding: 25px 7px;
    }
}

.product-table__specs{
	font-size: 16px;
	color: #2b2b2b;
	font-family: $light-font;
	width: 400px;
	@include bp(xl){
		width: 320px;
	}
	@include bp(lg){
		width: 400px;
	}
    @include bp(xs){
    	width: 100%;
    	font-size: 14px;
    }
	td{
		padding-bottom: 14px;
	    @include bp(xs){
	    	padding-bottom: 5px;
	    }
	}
	tr{
		&:last-child{
			td{
				padding: 0;
			}
		}
	}
}

.product-buy__bot{
	background-color: #5c98b4;
	padding: 30px;
	color: #fff;
	@include bp(md){
		padding: 20px;
	}
	@include bp(xs){
		padding: 10px;
	}
}

.product-price{
	line-height: 27px;
	height: 27px;
	position: relative;
	@include bp(md){
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
	}
	@include bp(sm){
		padding-bottom: 0;
		display: block;
	}
	@include bp(xs){
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
	}
}

.product-price__title{
	font-size: 27px;
	font-family: $light-font;
	float: left;
	margin-right: 8px;
}

.product-price__usd{
	font-size: 20px;
	float: left;
	margin-right: 8px;
}

.product-price__uah{
	font-size: 28px;
	font-family: $bold-font;
	float: left;
	margin-right: 8px;
	@include bp(xs){
		font-size: 24px;
	}
}

.product-counter{
	float: right;
	margin-right: 48px;
	@include bp(md){
		position: absolute;
		float: none;
		margin: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	@include bp(sm){
		float: right;
		bottom: auto;
		left: auto;
		transform: none;
		position: relative;
	}
	@include bp(xs){
		position: absolute;
		float: none;
		margin: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.volume-slider{
		width: 120px;
		text-align: center;
		.arrow-left{
			background-color: #5c98b4;
			top: 5px;
			&:before{
				position: relative;
				top: -7px;
			}
		}
		.arrow-right{
			background-color: #5c98b4;
			top: 5px;
			&:before{
				position: relative;
				top: -8px;
			}
		}
	}
}

.product-buy__main{
	color: #fff;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	a{
		color: #fff;
	}
}

.product-socials{
	font-size: 14px;
	line-height: 17px;
	font-family: $light-font;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@include bp(xs){
		display: none;
	}
}

.product-socials__item{
	display: block;
	&:before{
		font-size: 17px;
	}
	&:hover{
		&:before{
			text-decoration: none;
		}
	}
}

.product-buy__btn{
	color: #2b2b2b;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-family: $light-font;
	width: 220px;
	height: 50px;
	line-height: 52px;
	border: none;
	text-align: center;
	box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.5);
	@include bp(xs){
		margin: 0 auto;
	}
	&:hover{
		background-color: #b1ccd6;
		color: #fff;
	}
}

.product-delivery__wrapper{
	padding-right: 0;
	display: flex;
	align-content: stretch;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	@include bp(sm){
		width: 100%;
		padding: 0;
	}
}

.product-delivery__inner{
	margin-top: 5px;
	border: 1px solid #eee;
	height: 100%;
	display: flex;
	align-content: stretch;
	flex-direction: column;
	justify-content: space-between;
}

.product-delivery__banner{
	height: 158px;
	width: 100%;
	background: url(../images/delivery-banner.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding: 10px;
	@include bp(sm){
		height: 225px;
		align-items: center;
	}
}

.product-delivery__banner-title{
	font-size: 18px;
	text-transform: uppercase;
	font-family: $bold-font;
	display: block;
	margin-right: 5px;
	margin-bottom: 5px;
	text-shadow: 1px 1px 1px #fff;
}

.product-delivery__banner-text{	
	font-size: 16px;
	font-family: $light-font;
	text-shadow: 1px 1px 1px #fff;
}

.product-delivery__types{
	padding: 0 15px;
}

.product-delivery__type{
	display: flex;
	align-content: center;
	margin: 24px 0;
}

.product-delivery__type-icon{
	width: 64px;
	margin-right: 15px;
	&:before{
		font-size: 50px;
	}
	&.icon-money{
		&:before{
			font-size: 45px;
		}		
	}
}

.product-delivery__type-title{
	font-size: 20px;
	line-height: 24px;
	font-family: $bold-font;
}

.product-delivery__type-list{
	list-style-type: disc;
	margin-left: 16px;
}

.product-delivery__type-item{
	font-size: 16px;
	line-height: 20px;
	font-family: $light-font;
	list-style-type: disc;
}

.product-delivery__footer{
	height: 75px;
	text-align: center;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.product-delivery__footer-title{
	font-size: 20px;
	font-family: $bold-font;
	margin-bottom: 5px;
}

.product-delivery__footer-text{
	font-size: 24px;
	font-family: $light-font;
}

.product-content__descr{
	padding: 15px 0;
	border-bottom: 2px solid #eee;
}

.product-descr__title{
	font-size: 34px;
	color: #2b2b2b;
	font-family: $light-font;
	@include bp(xs){
		font-size: 24px;
	}
}

.product-descr__info{
	display: flex;
	justify-content: space-between;
	@include bp(md){
		display: block;
	}
}

.product-descr__notes{
	width: 45%;
	height: 630px;
	background: url(../images/notes-bg.png) no-repeat left bottom;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 100px;
	padding-top: 50px;
	flex-direction: column;
	@include bp(xl){
		width: 60%;
	}
	@include bp(lg){
		padding-right: 0;
	}
	@include bp(md){
		width: 575px;
    	margin: 0 auto;
	}
	@include bp(sm){
		width: 100%;
    	height: auto;
    	text-align: center;
    	background: none;
    	padding: 20px;
	}
}

.product-descr{
	width: 55%;
	padding-top: 30px;
	color: #2b2b2b;
	font-size: 16px;
	line-height: 20px;
	font-family: $light-font;
	strong{
		font-family: $bold-font;
	}
	@include bp(xl){
		width: 40%;
	}
	@include bp(md){
		width: 100%;
	}
}

.product-descr__notes-top{
	align-self: flex-start;
	@include bp(sm){
		align-self: center;
		margin-bottom: 15px;
	}
}

.product-descr__notes-mid{
	align-self: center;
	text-align: center;
	@include bp(sm){
		margin-bottom: 15px;
	}
}

.product-descr__notes-bot{
	align-self: flex-end;
	position: relative;
	top: -50px;
	left: -50px;
	@include bp(sm){
		align-self: center;
		top: auto;
		left: auto;
	}
}

.product-descr__notes-text{
	color: #484848;
}

.product-descr__notes-title{
	font-size: 20px;
	font-family: $bold-font;
	display: block;
	margin-bottom: 5px;
	margin-top: 10px;
	text-transform: uppercase;
}

.product-descr__notes-info{
	font-size: 16px;
	font-family: $light-font;

}

.product-content__reviews{
	border-bottom: 2px solid #eee;
}

.product-reviews__wrapper{
	@include bp(sm){
		margin-bottom: 20px;
	}
}

.product-reviews{
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	@include bp(sm){
		display: block;
		text-align: center;
	}
}

.product-reviews__title{
	font-size: 34px;
	font-family: $light-font;
	color: #2b2b2b;
	@include bp(xs){
		font-size: 24px;
	}
}

.product-reviews__container{
	font-size: 16px;
	font-family: $light-font;
	color: #2b2b2b;
	padding-top: 10px
}

.product-reviews__btn{
	color: #fff;
	background-color: #5c98b4;
	text-transform: uppercase;
	font-size: 16px;
	width: 220px;
	height: 45px;
	line-height: 46px;
	border: none;
	text-align: center;
	box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.5);
	&:hover{
		background-color: #b1ccd6;
	}
}

.section-bottles{
	padding-top: 30px;
}

.bottles-title{
	font-size: 34px;
	font-family: $light-font;
	color: #2b2b2b;
	@include bp(xs){
		font-size: 24px;
	}
}

.product-content__bottles{
	border-bottom: 2px solid #eee;
}

.product-content__reviews{
	border-bottom: 2px solid #eee;
	padding-bottom: 70px;
}

.product-rev__wrapper{
	width: 72%;
	@include bp(md){
		width: 100%;
	}
}

.product-deliv__wrapper{
	width: 28%;
	@include bp(md){
		width: 100%;
	}
}

.review-form{
	color: #2b2b2b;
	padding-top: 15px;
}

.review-form-input__wrapper{
	font-size: 0px;
	margin-bottom: 25px;
	@include bp(md){
		margin-bottom: 15px;
	}
}

.review-form-input__title{
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	font-size: 16px;
	font-family: $light-font;
	@include bp(xl){
		width: 30%;
	}
	@include bp(lg){
		width: 35%;
	}
	@include bp(md){
		width: 100%;
	}
}

.review-form-input{
	display: inline-block;
	vertical-align: middle;
	width: 75%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	padding: 0 8px;
	font-size: 16px;
	@include bp(xl){
		width: 70%;
	}
	@include bp(lg){
		width: 65%;
		height: 40px;
		line-height: 40px;
	}
	@include bp(md){
		width: 100%;
	}
}

.review-form-text__title{
	display: inline-block;
	vertical-align: top;
	width: 12.2%;
	font-size: 16px;
	font-family: $light-font;
	@include bp(xl){
		width: 14.4%;
	}
	@include bp(lg){
		width: 16.7%;
	}
	@include bp(md){
		width: 100%;
	}
}

.review-form-text{
	display: inline-block;
	vertical-align: top;
	width: 87.8%;
	height: 160px;
	border: 1px solid #e0e0e0;
	padding: 8px;
	resize: none;
	font-size: 16px;
	@include bp(xl){
		width: 85.6%;
	}
	@include bp(lg){
		width: 82.3%;
		height: 140px;
	}
	@include bp(md){
		width: 100%;
	}
}

.review-form__btn-wrapper{
	text-align: center;
}

.review-form__btn {
	float: right;
    color: #fff;
    background-color: #5c98b4;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Circe-Light", sans-serif;
    width: 220px;
    height: 50px;
    line-height: 52px;
    border: none;
    text-align: center;
    box-shadow: 0px 6px 21px rgba(0, 0, 0, 0.5);
    &:hover{
    	background-color: #b1ccd6;
    }
	@include bp(md){
		float: none;
		margin: 0 auto 30px;
	}
}