.section-2{	
	border-bottom: 1px solid $grey;
}

.section-title{
	text-align: center;
	font-size: 30px;
	line-height: 70px;
	display: block;
	border-bottom: 1px solid $grey;
}

.slider-wrapper{
	height: 460px;
	padding: 35px 59px 0;
	@include bp(md){
		height: 490px;
		padding: 35px 30px 0;
	}
}

.new-items{
	font-size: 0px;
	.slick-slide{
		display: inline-block !important;
		vertical-align: middle !important;
		font-size: 16px;
		padding-top: 15px;
	}
	.arrow-right{
		position: absolute;
		right: -59px;
		top: 175px;
		z-index: 3;
		width: 40px;
		height: 40px;
		background-color: #c9c9c9;
		@include bp(md){
			right: -40px;
		}
		&:before{
			font-size: 20px;
			height: inherit;
			line-height: 40px;
			width: 100%;
			margin: 0;
			color: #fff;
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
	.arrow-left{
		position: absolute;
		left: -59px;
		top: 175px;
		z-index: 3;
		width: 40px;
		height: 40px;
		background-color: #c9c9c9;
		@include bp(md){
			left: -40px;
		}
		&:before{
			font-size: 20px;
			height: inherit;
			line-height: 40px;
			width: 100%;
			margin: 0;
			color: #fff;
			cursor: pointer;
		}
	}
}

.tab-items{
	font-size: 0px;
	.slick-slide{
		display: inline-block !important;
		vertical-align: middle !important;
		font-size: 16px;
		padding-top: 15px;
	}
	.arrow-right{
		position: absolute;
		right: -59px;
		top: 175px;
		z-index: 3;
		width: 40px;
		height: 40px;
		background-color: #c9c9c9;
		@include bp(md){
			right: -40px;
		}
		&:before{
			font-size: 20px;
			height: inherit;
			line-height: 40px;
			width: 100%;
			margin: 0;
			color: #fff;
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
	.arrow-left{
		position: absolute;
		left: -59px;
		top: 175px;
		z-index: 3;
		width: 40px;
		height: 40px;
		background-color: #c9c9c9;
		@include bp(md){
			left: -40px;
		}
		&:before{
			font-size: 20px;
			height: inherit;
			line-height: 40px;
			width: 100%;
			margin: 0;
			color: #fff;
			cursor: pointer;
		}
	}
}

.item{
	transition: .2s linear;
	&:hover{
		.item-btn-tocart{
			height: 50px;
			line-height: 50px;
			font-size: 16px;
			background-color: $blue;
		}
	}
}

.item-inner{
	margin: 0 15px;
	padding: 36px 14px 14px;
	border: 1px solid $grey;
	text-align: center;
	position: relative;
	@include bp(xxl){
		margin: 0 10px;
		padding: 36px 10px 14px;
	}
	@include bp(xl){
		margin: 0 4px;
	}
}

.item-pic{
	height: 130px;
	width: 100%;
	display: block;
	object-fit: contain;
	margin: 0 auto;
}

.item-logo-wrapper{
	position: absolute;
	top: -15px;
	height: 30px;
	width: 140px;
	text-align: center;
	left: calc(50% - 70px);
	z-index: 2;
	background-color: #fff;
	&:before{
		position: absolute;
		content: '';
		left: 0;
		top: 7px;
		width: 1px;
		height: 14px;
		background-color: $grey;
	}
	&:after{
		position: absolute;
		content: '';
		right: 0;
		top: 7px;
		width: 1px;
		height: 14px;
		background-color: $grey;
	}
}

.item-logo{
	height: inherit;
	display: block;
	object-fit: contain;
	margin: 0 auto;
}

.item-title{
	display: block;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	margin-top: 10px;
}

.item-reviews{
	display: block;
	margin-top: 10px;
	color: $blue;
	&:hover{
		color: $lighter;
	}
}

.item-price__wrapper{
	font-size: 0px;
	margin-top: 10px;
}

.item-price__section{
	display: inline-block;
	vertical-align: middle;
	height: 45px;
	padding: 15px 0;
	&.item-vol{
		padding-right: 10px;
		width: 38%;
		@include bp(xxl){
			padding-right: 4px;
		}
		@include bp(md){
			padding-right: 0;
			width: 100%;
		}
	}
	&.price-usd{
		background-color: $light;
		font-size: 16px;
		font-family: $bold-font;
		color: #fff;
		width: 29%;
		@include bp(md){
			width: 50%;
		}
	}
	&.price-uah{
		background-color: $lighter;
		font-size: 16px;
		font-family: $bold-font;
		color: #fff;
		width: 33%;
		@include bp(md){
			width: 50%;
		}
	}
}

.volume-slider{
	margin-bottom: 0;
	.arrow-right{
		width: 16px;
		height: 16px;
		position: absolute;
		z-index: 3;
		right: 0;
		top: -1px;
		border: 1px solid $grey;
		border-radius: 3px;
		background-color: #fff;
		cursor: pointer;
		&:before{
			font-size: 10px;
			color: $grey;
			transform: rotate(180deg);
			line-height: 14px;
			height: 100%;
		}
	}
	.arrow-left{
		width: 16px;
		height: 16px;
		position: absolute;
		z-index: 3;
		left: 0;
		top: -1px;
		border: 1px solid $grey;
		border-radius: 3px;
		background-color: #fff;
		cursor: pointer;
		&:before{
			font-size: 10px;
			color: $grey;
			line-height: 15px;
			height: 100%;
		}
	}
	.slick-slide{
		padding-top: 0;
		@include bp(xl){
			font-size: 14px;
		}
	}
}

.item-btn-tocart{
	height: 0px;
	font-size: 0px;
	margin: 15px auto 0;
	border: none;
	background-color: #fff;
	color: #fff;
	text-align: center;
	width: 210px;
	transition: .2s linear;
	@include bp(md){
		width: 100%;
	}
}