.section-4{
	border-bottom: 1px solid $grey;
	padding-bottom: 50px;
}

.articles-slider{
	.slick-slide{
		text-align: left;
		opacity: .5;
		padding: 0 30px;
		margin-bottom: 0;
		margin-top: 30px;		
		@include bp(xs){
			padding: 0 15px;
		}
		&.slick-current{
			opacity: 1;
			.articles-slide{
				border: 1px solid transparent;
			}
		}
	}
	.slick-list{
		padding: 0 530px !important;
		@include bp(xl){
			padding: 0 330px !important;
		}
		@include bp(lg){
			padding: 0 130px !important;
		}
		@include bp(md){
			padding: 0 15px !important;
		}
		@include bp(xs){
			padding: 0 !important;
		}
	}
	.arrow-right{
		position: absolute;
		right: 510px;
		top: 180px;
		z-index: 3;
		width: 40px;
		height: 40px;
		background-color: #c9c9c9;
		@include bp(xl){
			right: 310px;
		}
		@include bp(lg){
			right: 110px;
		}
		@include bp(md){
			right: 30px;
			top: calc(50% - 100px);
		}
		&:before{
			font-size: 20px;
			height: inherit;
			line-height: 40px;
			width: 100%;
			margin: 0;
			color: #fff;
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
	.arrow-left{
		position: absolute;
		left: 510px;
		top: 180px;
		z-index: 3;
		width: 40px;
		height: 40px;
		background-color: #c9c9c9;
		@include bp(xl){
			left: 310px;
		}
		@include bp(lg){
			left: 110px;
		}
		@include bp(md){
			left: 30px;
			top: calc(50% - 100px);
		}
		&:before{
			font-size: 20px;
			height: inherit;
			line-height: 40px;
			width: 100%;
			margin: 0;
			color: #fff;
			cursor: pointer;
		}
	}
}

.articles-slide{
	border: 1px solid $grey;
	padding-bottom: 15px;
}

.article-pic{
	width: 100%;
}

.article-btn{
	position: relative;
	float: left;
	margin-left: 20px;
	border: none;
	background-color: $semi-light;
	font-family: $bold-font;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	width: 190px;
	height: 40px;
	line-height: 40px;
	top: -20px;
	@include bp(xs){
		margin-left: 0;
		width: 160px;
		height: 32px;
		line-height: 32px;
		left: calc(50% - 80px);
	}

}

.article-date{
	color: #bebebe;
	float: right;
	margin-right: 20px;
	font-family: $light-font;
	padding-top: 4px;
	@include bp(xs){
		float: none;
		clear: both;
		text-align: center;
		margin-bottom: 5px;
	}
}

.article-info{
	padding: 0 20px;
	@include bp(xs){
		padding: 0;
	}
}

.article-tite{
	font-size: 20px;
	font-family: $bold-font;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 22px;
	display: block;
	white-space: nowrap;
	margin-top: 10px;
	@include bp(xs){
		font-size: 17px;
	}
}

.article-txt{
	margin-top: 6px;
	font-family: $light-font;
	line-height: 20px;
	height: 60px;
	overflow: hidden;
}

.article-link{
	font-family: $bold-font;
	text-transform: uppercase;
	color: $blue;
	position: relative;
	display: inline-block;
	margin-top: 8px;
	&:before{
		color: $blue;
		position: absolute;
		right: -40px;
		font-size: 26px;
		font-weight: bold;
	}
	&:hover{
		&:before{
			color: #000;
			text-decoration: none;
		}
	}
}