.zero-padding{
	padding-right: 0;
}

.wrapper{
	width: 1764px;
	padding: 0 15px;
	margin: 0 auto;
	@include bp(xxl){
		width: 1570px;
	}
	@include bp(xl){
		width: 1170px;
	}
	@include bp(lg){
		width: 970px;
		padding: 0 15px;
	}
	@include bp(md){
		width: 750px;
	}
	@include bp(sm){
		width: 100%;
	}
}

.main-slider{
	.arrow-right{
		position: absolute;
		right: 4.270833%;
		top: 50%;
		z-index: 3;
		@include bp(xl){
			right: 0;
		}
		&:before{
			font-size: 30px;
			transform: rotate(180deg);
			cursor: pointer;
		}
	}
	.arrow-left{
		position: absolute;
		left: 4.270833%;
		top: 50%;
		z-index: 3;
		@include bp(xl){
			left: 0;
		}
		&:before{
			font-size: 30px;
			cursor: pointer;
		}
	}
}


.main-slide{
	padding: 228px 0 152px;
	@include bp(lg){
		padding: 150px 0 80px;
	}
	&.first-slide{
		background: url(../images/banner.jpg) no-repeat center;	
		background-size: cover;
		@include bp(md){
			background-size: 500%;
			background-position: center left;
		}
	}
}

.main-slide-content{
	@include bp(md){
		text-align: center;
		padding-right: 15px;
	}
}

.main-slide__title{
	font-size: 35px;
	font-family: $light-font;
	text-transform: uppercase;
	display: block;
	margin-bottom: 22px;
	@include bp(sm){
		font-size: 30px;
		padding: 0 15px;
	}
	@include bp(xs){
		font-size: 25px;
	}
}

.main-slide__subtitle{
	font-size: 34px;
	font-family: $bold-font;
	display: block;
	margin-bottom: 38px;
	@include bp(sm){
		font-size: 30px;
		padding: 0 15px;
	}
	@include bp(xs){
		font-size: 22px;
	}
}

.main-slide__btn{
	border: none;
	background-color: $blue;
	width: 234px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.45);
	color: #fff;
	&:hover, &:focus{
		background-color: $semi-light;
	}
}