.vacancies{
	padding: 20px 0;
}

.vacancies-wrapper{
	padding: 15px 0;
}

.about-pic{
	float: left;
	@include bp(sm){
		display: none;
	}
}

.about-text{
	padding-top: 45px;
	font-size: 18px;
	font-family: $light-font;
	color: #2b2b2b;
	line-height: 35px;
	@include bp(md){
		line-height: 26px;
	}
	@include bp(sm){
		padding-top: 0;
	}
	br{
		@include bp(md){
			display: none;
		}
	}
}

.vacancies-list{
	@include bp(sm){
		display: flex;
		flex-direction: column;
    	align-items: center;
	}
}

.vacancies-list__item{
	cursor: pointer;
	float: left;
	margin-right: 60px;
	font-size: 20px;
	font-family: $light-font;
	position: relative;
	@include bp(md){
		margin-right: 40px;
	}
	@include bp(sm){
		margin-right: 0;
		width: auto;
		margin-bottom: 10px;
		height: 30px;
		line-height: 30px;
	}
	@include bp(xs){
		height: 21px;
		line-height: 24px;
		font-size: 18px;
	}
	&:before{
		display: none;
	}
	&:last-child{
		margin-right: 0;
	}
	&.active{
		&:before{
			display: none;
			line-height: 22px;
			color: #347ea1;
			font-size: 30px;
			position: absolute;
			top: 11px;
			left: -50px;
			@include bp(sm){
				display: inline-block;
			}
		}
		span{
			border-bottom: 1px solid #000;
		}
	}
	span{
		padding-bottom: 3px;
		border-bottom: 1px solid transparent;
		@include bp(sm){
			padding-bottom: 1px;
		}
	}	
}

.vacancies-content{
	clear: both;
	display: none;
	padding-top: 18px;
	&.active{
		display: block;
	}
}

.vacancies-content__title{
	font-size: 34px;
	font-family: $light-font;
	color: #373737;
	line-height: 60px;
	width: 460px;
	text-align: center;
	background-color: #eee;
	display: block;
	margin-bottom: 14px;
	@include bp(sm){
		width: 450px;
		margin: 0 auto 14px;
		font-size: 27px;
		line-height: 47px;
	}
	@include bp(xs){
		width: 100%;
		font-size: 24px;
	}
}

.vacancies-content__text{
	color: #3a3a3a;
	font-size: 16px;
	font-family: $light-font;
	line-height: 1.4;
	@include bp(xs){
		font-size: 14px;
		line-height: 18px;
	}
}

.vacancies-btn{
	width: 285px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	background-color: #e8df78;
	text-transform: uppercase;
	text-align: center;
	border: none;
	box-shadow: 0px 3px 20px 4px rgba(0, 0, 0, 0.25);
	transition: .2s linear;
	margin-top: 30px;
	&:hover{
		background-color: #f0e240;
	}
	@include bp(sm){
		margin: 30px auto 0;
		display: block;
	}
}