// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$blue: #015e8a;
$lighter: #347ea1;
$semi-light: #b1ccd6;
$light: #80aec4;
$grey: #e2e2e2;
$default-font: "Circe-Regular", sans-serif;
$bold-font: "Circe-Bold", sans-serif;
$light-font: "Circe-Light", sans-serif;