@import 'variables';
@import 'vendor';
@import 'fonts';
@import 'mixin';

html, body{
  min-width: 320px;
  overflow-x: hidden;
}

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: $default-font;
	opacity: 1;	
	background-color: #fff;
	color: #000;
}

section{
	overflow-x: hidden;
	width: 100%;
}

ul, li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4{
	margin: 0;
}

a{
	color: #373737;
	&:hover, &:focus{
		color: #373737;
	}
}

*{
	outline: none !important;
	&:focus{
		outline: none !important;
	}
}

::placeholder{
	font-family: $light-font;
	font-size: 16px;
	color: #2b2b2b;
}

// Шапка
@import 'header';

// главная
@import 'section-1';
@import 'section-2';
@import 'section-3';
@import 'section-4';
@import 'section-5';

// карточка товара
@import 'product';

// о компании
@import 'about';

// стартовые пакеты
@import 'packages';

// доставка
@import 'delivery';

// 404
@import 'not-found';

// личный кабинет
@import 'user-room';

// контакты
@import 'contacts';

// вакансии
@import 'vacancies';

// статьи
@import 'news';

// заказ
@import 'order';

// корзина
@import 'cart';

// Попап
@import 'popup';

// Подвал
@import 'footer';