{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <!-- <link rel="shortcut icon" href="../../images/favicon.png" type="image/png"> -->
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">    
    <section class="contacts">
        <div class="container">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Контакты</li>
                </ul>
            </nav>
            <span class="page-title">Контакты</span>
            <div class="row contacts-wraper">
                <div class="col-md-6">
                    <p class="contacts-paragraph">Если Вы желаете преобрести продукцию Parfum House.
                        не выходя из дома или офиса, или получить доставку
                        продукции непосредственно на дом, предлагаем
                        воспользоваться услугами фирменного
                        интернет-магазина компании PARFUM-HOUSE.com.ua,
                        выбрав наиболее удобный для Вас способ
                        коммуникации.</p>

                    <p class="contacts-paragraph"><i class="icon-clock"></i><span>Режим работы: Пн.-Пт. 08:30 - 17:30</span></p>

                    <p class="contacts-paragraph">Чтобы задать интересующие Вас вопросы, пожалуйста,
                        свяжитесь с менеджером Call-центра удобным для Вас способом.</p>
                </div>
                <div class="col-md-6">
                    <div class="block-1-ukraine">
                        <div id="mapdiv">
                            <div id="map-cont" class="map-cont map-16"></div>
                            <img src="../../images/map.png" alt="Карта Украины" title="Карта Украины" class="map-all map" usemap="#myMap" style="opacity: 0;">
                            <map name="myMap" id="Map">
                                <area data-name="Крыму" data-manager="Маслова Анастасия" data-class="map-1" shape="poly" href="/#1" coords="414,341,414,344,413,347,413,351,415,351,418,351,419,352,419,353,418,354,416,354,416,356,416,358,415,358,414,358,414,357,413,356,411,357,410,358,404,360,399,363,398,363,397,362,397,363,396,364,391,367,386,369,386,371,385,373,383,373,381,373,377,376,373,379,374,381,375,383,377,383,379,383,380,382,380,381,384,381,388,381,394,386,399,391,400,391,401,391,403,390,405,389,408,391,410,393,412,397,413,400,413,404,413,408,412,408,411,409,411,413,411,418,411,419,412,420,409,421,406,421,407,423,409,425,411,425,413,425,415,427,417,430,422,430,427,429,429,429,431,428,431,427,431,426,434,424,438,422,440,418,442,415,446,412,450,409,454,409,457,409,459,408,461,407,464,408,466,409,467,407,467,406,470,403,472,401,473,401,474,401,475,399,476,396,479,394,481,393,485,393,489,394,491,397,493,399,495,399,497,398,504,398,511,397,512,396,514,395,513,392,512,390,513,386,515,382,517,382,520,382,520,380,520,379,514,378,509,377,506,377,504,377,501,380,499,382,498,382,497,382,495,381,493,379,492,379,491,379,490,381,489,384,485,385,482,386,478,388,475,389,475,389,474,389,474,388,474,386,470,384,465,383,464,381,463,379,464,376,465,374,464,371,463,368,460,367,458,367,458,366,458,365,457,366,456,366,456,365,455,364,452,365,450,365,450,364,450,363,451,361,453,360,450,360,448,360,446,360,444,361,443,361,442,360,442,359,442,358,443,358,444,358,446,356,448,354,447,354,447,354,445,356,443,357,443,355,443,353,441,352,439,350,438,350,436,350,435,352,434,353,433,353,431,353,430,352,429,350,430,350,431,349,430,348,428,346,426,347,424,347,421,345,417,343,416,341,414,339">
                                <area data-name="Херсонской области" data-manager="Маслова Анастасия" data-class="map-2" shape="poly" href="/#2" coords="409,267,408,267,409,268,409,269,406,270,403,270,404,271,404,272,403,272,401,272,401,271,401,270,400,270,398,270,398,269,398,267,397,267,396,267,396,275,395,283,397,283,398,284,397,285,397,286,394,287,392,288,390,288,389,288,389,290,388,292,391,294,394,297,393,298,391,299,390,299,389,298,390,300,390,302,388,302,387,302,388,303,390,304,389,305,388,306,383,307,379,307,379,306,379,305,377,305,374,305,374,306,374,307,372,307,369,306,369,308,368,309,366,308,364,307,363,308,363,310,360,310,358,311,358,313,358,315,357,315,356,315,358,317,361,319,363,318,365,318,366,320,367,323,369,323,371,323,371,324,371,325,369,326,366,326,358,325,350,323,350,324,350,325,353,325,356,325,357,327,358,330,356,331,354,332,352,332,351,332,353,334,355,335,356,335,357,335,359,337,361,339,363,339,364,339,364,340,364,342,368,343,373,345,377,343,382,342,386,342,390,343,391,341,391,340,393,341,395,342,397,339,399,337,399,339,399,342,401,342,403,342,404,344,405,346,406,346,408,346,409,344,410,342,412,339,413,337,414,337,416,336,417,336,418,335,421,336,425,337,426,339,428,341,429,341,430,341,432,341,433,340,432,338,431,335,432,334,433,333,435,336,437,340,437,337,437,335,440,338,443,341,444,341,445,341,445,340,444,339,445,339,446,338,450,339,455,340,456,338,457,336,461,335,464,335,464,330,464,325,461,324,458,324,458,322,458,321,456,321,453,321,452,319,451,317,452,317,453,316,453,315,453,314,451,314,448,314,448,313,448,311,451,310,453,310,453,308,453,306,454,306,456,305,454,304,452,302,452,301,452,301,449,299,446,297,446,295,446,292,445,292,444,292,444,287,443,283,443,282,443,281,440,283,438,284,436,281,435,279,435,277,435,275,433,274,431,273,429,273,426,274,425,272,424,271,419,272,415,272,413,272,411,271,411,269,412,267,411,267,411,266">
                                <area data-name="Запорожской области" data-manager="Маслова Анастасия" data-class="map-3" shape="poly" href="/#3" coords="470,238,468,238,464,239,460,240,459,239,458,238,458,241,457,243,459,245,460,246,460,248,459,249,458,249,456,249,457,251,459,252,459,254,459,256,460,256,461,256,461,263,461,270,458,270,455,270,451,269,448,268,441,270,433,272,434,273,436,274,437,278,437,281,439,281,441,281,442,280,442,279,444,279,446,279,445,280,444,282,445,283,446,283,445,286,445,288,446,290,447,293,448,295,449,298,451,298,454,299,454,301,454,303,455,303,456,303,456,305,456,307,455,307,454,307,454,308,454,310,452,311,450,313,452,313,454,313,454,316,454,320,456,319,459,319,459,320,459,322,462,323,465,323,465,327,465,331,466,331,467,331,468,330,469,329,468,326,467,324,468,323,468,322,469,322,470,322,470,323,470,325,472,325,473,326,473,329,473,332,476,328,479,325,480,325,481,325,487,320,492,315,495,315,498,314,503,314,507,314,507,315,508,317,510,314,511,312,516,310,520,308,522,308,525,308,526,309,527,310,530,307,533,304,534,304,535,304,534,303,534,301,535,300,537,298,537,297,537,295,535,295,533,294,533,292,534,291,531,289,528,286,530,286,532,286,531,283,531,280,533,280,536,281,537,280,538,278,537,278,537,277,539,277,541,278,541,277,541,276,542,274,542,273,541,273,539,274,536,271,533,268,531,268,530,269,529,267,527,265,526,266,524,266,523,261,522,256,520,256,519,256,519,255,519,253,514,254,509,255,505,254,501,253,500,252,500,252,501,251,502,250,500,247,499,244,500,243,500,242,499,242,497,242,497,241,497,241,493,241,489,241,488,239,487,238,484,239,482,241,479,240,476,238,474,238,472,237">
                                <area data-name="Николаевской области" data-manager="Маслова Анастасия" data-class="map-4" shape="poly" href="/#4" coords="319,234,318,236,312,236,306,236,305,236,305,237,300,236,295,236,296,238,296,240,294,240,292,240,292,243,292,246,294,248,295,249,295,252,295,254,297,254,299,254,298,258,298,263,300,264,302,264,304,264,307,263,310,262,312,262,312,265,311,268,313,268,315,268,315,271,315,275,315,278,316,282,317,281,319,281,319,283,319,284,322,283,325,283,325,285,325,288,327,288,329,288,329,290,330,291,330,294,330,297,328,298,325,299,323,299,320,299,320,300,320,301,323,303,325,306,326,311,326,315,327,316,328,317,333,316,339,316,340,316,342,315,344,316,347,317,349,316,350,316,350,315,350,314,353,314,357,314,356,312,356,310,359,309,362,309,362,307,362,305,363,305,364,305,365,306,366,307,368,306,369,305,371,305,373,306,373,304,373,303,376,304,380,304,380,305,381,306,384,305,387,304,385,304,384,304,384,303,384,302,386,302,388,301,388,299,388,297,390,297,393,297,390,295,387,293,387,291,387,289,389,288,390,286,391,287,392,287,392,286,392,285,393,285,395,286,394,282,394,279,392,277,391,276,392,274,393,272,393,273,393,275,394,275,395,275,395,273,395,270,394,270,393,270,393,268,393,266,390,267,388,267,389,266,389,265,389,262,389,259,390,258,392,258,393,253,393,249,392,249,390,249,390,246,390,243,389,243,387,243,387,245,387,246,384,246,381,246,382,248,382,249,381,249,379,249,380,250,380,252,379,253,377,255,371,255,364,256,363,257,363,258,361,258,358,258,358,256,357,255,353,256,348,256,348,255,348,254,349,252,350,251,349,249,348,247,347,248,345,248,345,245,344,243,345,242,346,241,346,241,346,240,343,239,340,238,339,240,338,242,336,242,335,242,335,240,336,239,331,239,327,239,325,236,324,233,321,233,319,233">
                                <area data-name="Одесской области" data-manager="Дьяченко Марина" data-class="map-5" shape="poly" href="/#5" coords="280,234,279,234,275,234,272,235,271,237,271,239,270,239,269,239,261,240,254,240,252,238,250,236,250,236,249,236,249,238,249,239,248,239,247,239,247,238,247,237,246,237,245,237,245,239,245,240,243,241,242,242,243,243,243,244,246,245,248,246,249,245,250,244,252,244,254,244,254,247,255,250,257,249,258,249,258,250,258,250,256,252,255,254,256,254,258,254,257,256,256,258,256,262,255,266,254,268,252,269,253,269,254,269,254,271,254,273,255,273,256,272,256,273,256,274,258,273,259,273,259,274,259,276,261,276,262,277,262,279,262,281,264,279,265,277,266,277,268,277,268,279,269,281,268,286,268,291,269,291,270,291,270,295,269,299,272,300,274,301,274,302,274,304,276,303,278,302,280,304,282,306,282,313,282,321,281,321,280,322,281,322,282,322,285,325,287,327,288,327,289,326,289,327,289,329,288,329,287,329,283,330,280,330,279,331,278,332,276,330,273,327,272,327,271,327,272,329,272,331,270,331,269,332,266,329,264,327,264,326,264,325,263,325,262,325,262,327,262,328,261,328,260,328,260,327,259,326,259,327,259,329,257,329,256,330,254,330,253,330,254,329,254,328,255,324,255,321,253,322,251,324,250,324,248,324,249,325,249,326,248,326,246,326,247,331,247,336,249,337,250,339,248,342,246,344,247,346,248,347,247,348,247,350,243,351,239,351,239,355,240,358,238,359,236,361,235,361,233,361,233,363,233,364,231,364,230,364,230,366,231,369,230,372,230,375,228,376,227,376,226,375,224,373,223,373,222,373,221,374,220,375,221,377,222,380,223,381,224,383,228,385,232,387,235,388,238,388,238,387,237,386,238,384,239,382,242,383,244,384,245,383,246,382,251,380,256,377,260,377,264,377,267,379,271,382,272,385,273,389,273,383,273,378,271,378,269,378,268,376,268,374,278,366,289,357,294,351,299,345,303,338,308,331,309,329,310,327,309,325,308,323,309,322,309,320,317,318,324,316,325,316,325,315,324,313,323,311,324,309,324,307,322,305,319,303,319,301,319,298,322,298,326,297,327,296,329,294,328,292,328,289,325,289,322,290,322,289,322,287,323,287,324,287,324,286,324,284,321,285,318,285,318,284,318,283,317,283,315,283,314,282,314,281,314,278,313,276,313,272,313,269,311,269,309,268,310,266,310,264,309,265,309,266,305,266,302,265,299,265,297,264,297,261,296,258,297,256,298,255,296,255,294,255,294,253,294,252,292,249,291,246,290,243,290,240,292,239,293,239,293,238,293,237,289,237,284,237,283,235,282,233,281,233,280,233">
                                <area data-name="Черновицкой области" data-manager="Дьяченко Марина" data-class="map-6" shape="poly" href="/#6" coords="125,211,125,212,125,218,126,225,122,224,117,224,113,229,108,233,108,234,109,234,105,238,101,243,101,245,101,248,103,250,104,252,103,255,102,257,102,258,103,258,105,257,107,257,109,253,110,250,112,249,114,248,118,248,122,247,127,246,132,246,138,245,145,244,146,242,148,240,149,237,150,234,154,233,159,232,160,230,162,228,163,226,164,225,166,226,167,228,166,225,164,223,164,222,164,221,167,221,171,221,172,223,173,225,175,222,177,220,178,220,179,220,179,222,180,223,182,223,185,223,185,222,186,220,188,220,189,220,189,221,189,223,190,221,192,219,191,216,190,213,189,212,187,212,186,214,184,215,183,215,182,214,176,215,171,216,170,215,169,214,167,216,166,217,166,218,166,219,164,219,162,219,162,220,162,221,160,221,158,221,158,220,158,219,157,218,155,216,153,217,151,218,149,218,148,217,145,217,142,216,141,215,140,214,140,213,139,212,137,213,135,214,134,212,132,211,132,210,132,209,131,210,129,211,129,210,128,209,127,209,126,209">
                                <area data-name="Закарпатской области" data-manager="Лапуга Елена" data-class="map-7" shape="poly" href="/#7" coords="16,189,16,191,15,191,13,191,12,193,11,196,10,202,8,208,5,211,2,214,2,217,1,221,3,221,5,222,5,222,5,223,6,224,7,225,8,227,9,230,11,230,14,230,15,232,17,234,17,236,17,238,21,238,26,237,27,239,27,242,27,244,27,247,28,245,28,243,31,244,34,244,35,241,36,238,38,238,41,238,43,241,45,244,47,244,49,245,49,244,49,243,54,244,60,244,61,246,63,247,65,246,68,245,70,247,72,248,76,248,79,248,81,247,83,245,85,246,87,246,87,243,88,241,86,238,84,236,85,234,85,232,82,228,78,224,77,225,75,227,73,224,71,222,71,220,71,217,69,218,67,218,67,219,67,220,66,220,64,220,64,218,63,216,60,214,58,211,57,211,57,211,54,209,52,206,49,206,46,206,46,205,45,204,42,204,38,204,37,202,35,199,33,200,31,200,29,197,26,195,27,193,27,192,25,190,23,188,20,189,18,189,18,188,18,187,17,187,16,187">
                                <area data-name="Днепровской области" data-manager="Маслова Анастасия" data-class="map-8" shape="poly" href="/#8" coords="455,183,454,184,452,184,450,184,448,186,446,188,444,188,442,187,441,189,440,190,439,192,439,194,439,195,439,197,439,199,439,201,439,202,439,204,438,205,437,206,434,204,431,203,428,200,425,197,424,197,423,197,422,200,422,203,421,203,421,204,420,203,419,203,415,202,412,202,412,203,412,204,416,206,420,208,420,208,420,209,419,210,418,212,415,213,413,215,411,215,408,215,408,221,409,226,409,226,410,226,410,229,411,232,409,234,406,236,405,236,404,236,402,238,401,239,399,240,398,240,396,241,395,243,393,243,392,243,392,244,392,245,391,246,391,248,392,248,394,248,394,253,394,259,392,259,390,260,391,262,391,265,395,266,398,266,400,268,401,269,403,269,405,269,407,267,409,265,411,265,413,266,413,268,413,270,414,270,415,271,419,270,424,269,425,271,426,272,428,272,430,272,439,269,447,267,453,268,459,269,460,269,460,268,459,265,458,262,459,261,460,261,460,259,460,258,459,258,458,258,458,256,458,253,457,252,455,252,455,250,455,248,457,248,458,248,458,247,458,247,457,245,456,243,457,240,457,237,459,237,460,237,460,238,461,239,464,238,468,236,471,236,474,236,478,238,482,239,485,238,487,236,490,237,492,239,492,239,492,240,495,239,498,239,498,240,498,241,500,241,501,241,501,243,501,246,503,247,504,249,503,250,503,251,504,251,506,251,506,252,506,253,512,253,518,253,517,251,517,249,518,249,520,248,519,245,518,242,518,241,519,239,522,239,524,239,526,241,527,242,528,242,529,242,529,241,529,240,529,237,529,234,530,234,531,234,531,232,531,229,529,229,527,228,527,222,528,217,529,216,531,215,529,215,527,215,527,214,526,213,523,213,520,212,518,211,516,210,514,213,512,216,511,216,509,216,508,216,508,217,508,213,507,210,505,208,503,205,503,204,503,202,502,202,500,202,500,200,499,199,499,196,498,194,497,193,497,192,494,194,491,195,490,194,490,193,488,193,487,193,483,193,479,192,475,189,471,185,470,185,469,185,469,184,469,183,466,183,462,183,461,182,460,181,460,182,460,183,459,183,457,183,457,182,457,181,456,181,455,181">
                                <area data-name="Донецкой области" data-manager="Дьяченко Марина" data-class="map-9" shape="poly" href="/#9" coords="556,181,558,183,558,183,558,184,556,184,553,185,553,187,553,188,552,188,550,188,548,191,546,193,547,194,547,195,545,196,542,197,542,199,542,201,540,201,539,201,537,201,535,201,536,203,536,206,534,204,532,202,531,202,529,202,529,203,528,204,526,203,524,202,524,204,525,205,525,207,525,210,527,212,529,214,530,214,531,214,531,215,531,216,530,220,528,224,528,225,528,227,530,227,532,228,532,231,533,234,531,235,530,235,531,237,531,238,531,241,530,243,528,243,526,243,525,242,523,240,522,240,520,240,520,243,520,246,521,246,522,246,522,248,522,249,521,250,519,250,520,252,521,253,521,254,520,255,522,255,523,255,524,258,524,261,526,261,527,261,526,263,526,264,527,264,529,264,530,266,530,267,532,267,533,266,536,269,539,272,540,272,541,271,542,272,544,273,543,276,542,279,539,280,536,282,534,282,533,282,533,285,534,287,532,287,531,287,533,289,535,290,535,291,535,293,537,294,540,295,540,297,540,299,538,300,537,300,537,301,537,302,540,301,543,299,545,300,546,301,548,299,550,297,552,294,554,292,563,292,573,291,575,292,576,293,577,291,578,289,578,287,578,285,580,283,582,282,579,282,577,282,577,281,577,279,579,278,580,277,580,272,580,268,581,266,583,264,587,263,592,263,592,261,593,260,595,260,597,260,598,256,599,251,604,251,608,251,608,248,607,246,607,245,607,245,603,244,600,243,599,241,599,238,595,237,591,236,591,233,591,231,588,231,586,231,586,227,585,223,584,222,583,222,581,221,580,219,580,210,580,200,578,200,577,200,577,198,577,195,574,195,572,195,570,194,569,193,570,192,572,190,572,187,572,185,569,184,566,182,566,181,566,180,563,180,560,180,557,179,554,179">
                                <area data-name="Кропивницкой области" data-manager="Старусева Татьяна" data-class="map-10" shape="poly" href="/#10" coords="384,180,383,182,385,183,387,183,387,185,387,186,386,186,385,186,385,189,386,192,385,192,383,193,378,194,373,194,372,192,371,189,370,189,369,190,368,188,366,187,365,187,363,188,363,190,363,192,362,192,360,193,360,195,360,196,358,196,355,195,353,197,352,198,350,196,348,194,346,195,344,195,344,196,344,197,343,197,341,196,340,198,339,201,335,204,332,206,329,205,326,204,325,205,323,206,321,205,319,204,312,204,306,204,306,206,305,207,304,209,304,211,304,213,304,215,301,214,298,214,297,215,297,217,294,218,291,219,290,219,289,218,288,220,287,221,285,220,284,219,280,221,276,224,276,225,276,227,276,229,275,232,277,232,279,233,280,232,280,232,282,231,283,231,283,233,283,234,286,235,288,236,291,236,294,236,294,235,295,235,300,234,306,234,309,234,312,234,313,234,315,235,317,233,319,231,322,232,324,232,326,234,327,235,327,236,327,237,329,237,332,237,335,237,339,238,340,237,341,236,344,237,347,239,347,242,346,246,348,246,350,246,351,248,351,250,351,252,350,255,354,254,357,253,358,255,360,257,361,257,362,257,362,255,363,253,365,254,368,254,371,254,374,254,376,254,378,253,378,251,377,248,378,248,379,248,379,247,379,245,382,245,385,245,385,244,385,242,387,242,390,241,392,242,393,242,396,239,398,237,398,236,398,235,400,235,401,236,404,235,407,234,408,232,409,230,407,228,406,225,407,224,407,223,408,218,408,214,412,212,417,211,417,210,418,208,414,207,411,205,411,203,411,201,413,201,415,200,418,201,421,202,421,200,421,198,421,197,422,196,418,195,415,193,413,194,412,196,409,196,407,196,407,195,407,194,406,195,405,195,403,195,401,194,401,191,402,188,399,187,396,187,395,184,395,182,391,180,388,178,387,178,385,178">
                                <area data-name="Ив. Франковской области" data-manager="Дьяченко Марина" data-class="map-11" shape="poly" href="/#11" coords="83,163,83,165,83,165,83,166,82,167,81,167,82,169,83,170,82,172,80,175,81,176,81,177,83,177,84,177,84,179,84,182,82,181,81,181,76,183,72,184,71,184,69,183,69,184,68,185,67,185,66,184,65,185,64,185,61,185,58,185,55,189,53,192,53,195,54,198,53,198,52,198,52,201,53,205,55,207,57,209,59,209,60,209,60,211,60,212,63,214,65,215,65,217,65,220,66,219,67,218,69,216,71,215,71,215,72,215,73,219,73,223,74,224,75,225,77,224,79,223,82,226,85,229,85,230,85,231,87,231,88,232,87,234,86,235,88,238,90,241,89,243,88,245,89,246,91,248,92,250,94,253,96,253,98,253,99,256,99,259,101,255,102,252,101,250,99,248,99,245,99,242,103,239,106,235,106,234,107,233,111,228,116,223,120,223,124,223,124,217,124,211,124,209,125,208,125,206,124,204,121,202,117,199,117,199,116,199,116,201,116,202,115,202,114,201,114,202,113,203,112,203,111,202,111,200,112,199,111,200,110,200,110,199,110,198,109,198,107,198,107,195,107,193,105,192,103,191,101,190,100,189,100,187,100,186,101,186,103,186,100,184,97,182,98,180,99,178,98,177,96,175,96,173,97,171,96,170,94,170,94,167,93,164,91,164,89,164,89,163,88,162,86,162,84,161">
                                <area data-name="Винницкой области" data-manager="Маслова Анастасия" data-class="map-12" shape="poly" href="/#12" coords="240,144,238,145,238,146,238,147,236,147,233,147,233,148,232,149,229,148,227,146,226,147,225,148,222,148,220,148,213,149,206,150,205,151,204,153,204,155,205,157,204,158,203,158,204,160,204,161,203,162,202,163,203,163,204,163,203,165,203,166,205,166,206,166,206,168,205,171,206,172,207,172,207,175,207,178,207,180,208,182,206,182,204,182,203,183,202,184,200,183,198,182,195,185,193,187,192,187,191,187,191,188,191,189,191,199,190,210,192,214,194,218,195,217,197,217,197,218,198,220,201,220,205,220,207,223,208,225,212,227,215,228,215,229,215,230,216,230,218,230,218,231,219,233,221,231,224,230,225,232,225,234,226,234,227,234,227,237,227,240,228,237,229,235,230,235,231,234,234,235,237,237,240,237,242,237,242,238,242,239,243,239,244,239,244,237,244,235,246,236,248,236,248,235,249,233,251,234,253,236,255,236,257,236,257,238,257,239,258,239,260,239,261,238,261,237,264,237,267,237,268,237,270,237,270,235,270,233,272,233,274,233,274,231,273,228,274,228,275,227,275,226,275,224,279,220,283,216,282,214,280,213,281,211,281,210,279,209,277,207,278,206,278,204,276,204,274,203,273,199,272,195,271,195,270,195,270,193,271,190,270,190,268,189,268,188,268,186,270,185,272,184,272,182,272,179,270,178,268,177,268,175,268,174,267,174,266,174,265,172,264,170,265,168,267,167,267,165,266,164,265,161,264,158,265,157,265,156,264,156,263,155,262,156,261,157,259,157,257,157,257,158,257,159,252,159,246,159,246,157,246,155,245,154,244,153,245,152,246,150,245,149,244,148,245,147,245,145,244,144,243,143">
                                <area data-name="Луганской области" data-manager="Старусева Татьяна" data-class="map-13" shape="poly" href="/#13" coords="578,135,579,137,576,140,573,142,574,143,574,145,572,145,571,145,572,146,573,147,571,149,570,151,571,151,572,151,572,152,571,153,572,154,573,154,571,156,569,158,569,159,569,160,567,162,565,164,566,165,567,166,567,170,567,173,568,173,570,174,568,176,567,178,568,180,569,181,568,181,567,182,569,182,571,182,572,182,574,182,573,188,573,194,576,194,579,193,579,196,579,199,581,199,582,199,582,200,582,201,581,202,580,203,581,205,582,206,581,209,580,211,581,214,581,217,581,218,582,220,584,220,586,220,587,223,588,225,587,226,586,226,586,228,586,229,589,229,592,230,592,232,592,235,596,236,600,237,600,240,601,243,604,243,608,243,609,246,610,248,610,250,610,252,612,252,615,251,617,251,620,250,620,251,621,251,623,252,626,252,629,252,632,253,633,251,634,249,634,247,635,246,634,244,633,242,634,241,636,240,638,236,639,233,639,232,639,231,637,230,636,228,637,225,638,223,637,221,636,219,636,217,636,214,635,214,634,214,632,214,630,214,629,213,629,211,630,210,631,209,631,206,631,203,632,203,633,203,634,201,634,198,638,199,641,201,642,199,644,198,640,198,636,198,634,197,633,196,633,194,633,192,631,192,629,191,629,190,629,188,632,188,636,187,637,187,639,187,641,184,642,180,645,178,648,177,648,175,648,173,645,169,642,166,643,164,643,162,645,160,648,158,645,158,642,158,639,160,636,161,634,160,633,159,631,158,629,158,628,154,626,150,621,150,617,150,616,149,615,147,613,145,612,144,611,145,610,146,606,147,603,148,602,145,602,143,600,143,598,143,595,141,592,138,590,139,588,139,588,138,587,137,585,137,583,137,582,135,581,132,579,132,578,132">
                                <area data-name="Черкасской области" data-manager="Лапуга Елена" data-class="map-14" shape="poly" href="/#14" coords="358,125,357,126,356,126,355,125,354,128,352,131,354,133,355,134,354,134,352,135,352,137,352,139,350,139,349,138,347,141,345,144,343,144,340,144,340,143,340,142,338,143,336,145,335,144,334,142,331,143,329,143,328,144,327,145,327,149,327,153,326,155,325,158,325,159,325,161,324,161,323,161,323,162,323,164,320,167,316,170,316,171,316,172,312,173,308,173,306,172,304,171,304,172,303,173,301,173,299,173,297,176,296,179,296,178,295,177,292,177,289,176,289,174,289,173,288,175,286,177,286,175,285,173,284,173,283,173,282,175,281,178,280,179,278,181,276,181,273,181,274,183,274,184,272,186,270,188,271,189,272,190,272,192,271,194,273,194,274,195,274,196,273,197,274,198,275,198,275,200,275,202,277,203,279,203,279,205,279,207,281,208,283,210,282,211,282,213,283,213,284,213,284,215,283,218,285,218,287,219,288,218,288,217,292,217,296,216,296,214,297,213,300,213,302,213,302,212,301,210,303,209,304,208,303,207,303,205,305,204,306,203,312,203,318,202,320,203,322,204,324,203,327,202,329,203,332,205,335,202,338,200,338,198,339,195,344,194,348,193,349,194,351,194,355,195,359,195,359,193,360,192,362,189,363,186,365,185,366,185,368,187,370,189,371,188,372,188,373,190,374,192,378,192,383,191,383,191,384,191,383,189,383,186,385,185,386,184,383,183,381,182,382,181,383,179,381,178,379,177,377,177,376,177,373,175,371,173,371,170,372,168,374,169,376,169,377,170,379,170,378,168,377,167,378,165,378,164,380,162,381,160,380,159,379,158,379,156,379,154,377,153,374,152,374,151,374,150,370,146,367,143,368,142,369,142,369,140,369,139,368,137,367,135,365,133,363,132,363,130,364,128,362,127,361,127,359,125,358,124">
                                <area data-name="Тернопольской области" data-manager="Лапуга Елена" data-class="map-15" shape="poly" href="/#15" coords="135,124,134,126,130,126,127,127,123,127,120,127,121,129,121,131,119,133,116,134,118,136,119,138,118,139,117,140,117,142,117,144,116,144,114,144,114,145,114,146,110,146,107,146,107,148,108,150,106,151,105,153,103,155,101,158,97,159,94,159,94,163,95,167,97,169,99,171,98,173,98,175,100,176,101,178,100,180,99,182,101,183,103,183,103,185,103,187,101,187,100,187,101,188,102,190,105,190,107,190,108,191,108,191,108,194,108,198,109,196,109,194,111,194,112,194,112,196,113,198,116,198,120,197,120,198,120,200,124,202,127,204,127,205,126,206,128,207,129,209,130,208,132,208,133,210,135,212,137,211,139,210,139,211,140,211,140,210,140,209,142,210,144,212,145,213,145,215,148,215,151,216,150,213,149,211,148,209,146,208,146,206,146,205,146,191,145,178,146,177,148,176,147,172,146,169,145,166,144,163,145,160,146,158,147,156,148,154,146,153,145,152,146,150,147,149,146,146,145,144,144,142,143,141,144,138,144,136,145,136,146,136,146,135,145,134,146,131,147,129,146,126,145,123,144,123,144,123,140,123,136,122">
                                <area data-name="Харьковской области" data-manager="Лапуга Елена" data-class="map-16" shape="poly" href="/#16" coords="495,112,492,114,489,116,486,119,484,119,483,118,482,119,481,120,479,119,477,118,477,119,477,120,475,120,474,119,475,120,475,121,474,121,472,121,472,122,472,123,470,123,467,123,466,125,465,127,463,127,461,127,461,129,461,132,460,134,458,137,460,140,462,142,464,141,465,141,465,142,465,143,468,143,471,144,472,148,473,153,476,153,479,153,480,156,480,159,479,160,478,161,479,161,480,162,480,164,480,165,478,164,475,164,476,166,476,168,474,172,473,176,470,176,468,175,466,175,463,174,463,178,463,181,464,181,465,180,465,181,465,182,467,181,469,181,474,186,479,191,485,192,492,193,494,191,496,190,498,192,500,194,500,196,500,198,503,200,506,202,505,203,504,204,506,207,509,209,509,210,508,211,510,212,511,214,512,214,513,213,513,212,513,210,514,209,515,208,518,210,521,211,522,211,524,210,523,205,523,201,525,201,527,202,532,201,536,200,537,199,538,198,539,198,540,199,542,196,545,193,545,192,545,191,546,190,547,190,547,188,547,187,549,187,551,187,551,186,551,184,553,183,555,183,553,182,551,180,553,179,554,177,559,178,564,179,565,177,567,175,566,174,565,173,565,171,566,168,565,168,564,167,564,164,564,161,566,159,567,157,569,155,570,154,569,153,568,152,568,150,568,148,569,148,571,148,570,146,570,144,571,144,572,144,571,142,571,140,569,138,568,137,566,134,564,132,562,132,561,132,558,129,556,125,556,122,556,119,554,118,551,117,550,115,550,112,548,112,546,112,546,113,546,114,542,115,539,117,534,117,529,118,525,121,521,124,520,123,518,123,518,122,518,120,517,120,515,119,512,120,508,120,508,119,508,118,506,115,504,112,501,112,498,111">
                                <area data-name="Полтавской области" data-manager="Старусева Татьяна" data-class="map-17" shape="poly" href="/#17" coords="400,107,399,108,396,108,393,107,388,112,383,117,378,116,373,116,370,114,367,112,365,115,364,117,362,117,360,117,360,119,359,121,360,124,361,126,364,126,366,127,366,128,366,130,365,130,364,131,366,132,368,132,369,137,371,142,370,143,369,144,372,146,375,148,376,150,376,152,379,153,381,154,381,155,381,157,382,158,382,160,381,162,380,164,379,165,379,166,381,169,382,172,379,172,376,171,374,171,373,171,372,172,372,173,374,174,377,176,383,177,389,177,392,179,395,181,397,184,398,187,399,184,400,181,401,182,402,184,402,185,401,186,402,187,403,187,403,190,402,193,405,193,408,192,408,193,408,194,410,194,412,194,413,193,414,191,416,192,418,193,423,195,428,197,431,200,434,203,435,203,437,204,437,202,436,201,437,200,437,199,438,195,438,191,439,188,441,185,443,186,446,186,447,185,448,183,450,183,451,183,453,182,455,180,458,180,462,180,461,179,461,177,462,175,463,172,467,173,472,174,473,172,475,170,474,167,473,165,474,164,474,162,476,163,479,163,477,162,476,160,478,159,479,158,478,157,478,155,476,155,475,155,473,154,470,153,471,151,471,150,470,150,469,150,469,147,469,145,465,144,462,143,459,141,457,139,457,137,457,135,458,133,460,131,459,129,459,127,456,127,453,128,452,129,451,130,448,129,445,129,445,126,446,123,443,120,440,118,440,117,440,116,438,114,435,112,435,109,435,107,434,107,432,107,431,108,430,109,427,108,425,107,423,107,422,107,421,109,420,110,418,110,416,110,411,110,407,109,403,108,400,106">
                                <area data-name="Хмельницкой области" data-manager="Лапуга Елена" data-class="map-18" shape="poly" href="/#18" coords="176,106,174,107,173,107,172,106,169,108,167,109,167,109,168,109,166,111,164,113,164,114,164,115,162,116,159,117,158,120,158,122,156,122,154,121,152,123,149,126,148,126,147,126,149,128,150,130,149,131,148,131,147,134,147,136,146,137,145,138,146,140,146,142,146,142,146,143,147,144,147,145,148,146,148,148,148,150,147,152,149,153,150,154,148,156,147,158,147,159,148,161,146,161,145,162,146,163,147,165,148,170,149,176,148,178,146,180,147,180,147,181,147,189,147,198,148,199,149,199,149,203,148,207,150,208,151,208,152,211,153,214,154,214,155,214,156,214,157,215,158,217,160,219,160,217,161,214,163,214,164,214,164,213,164,212,166,212,169,211,170,213,171,214,172,213,174,212,176,213,178,214,179,213,181,212,182,213,183,213,183,212,183,210,185,211,187,211,188,209,189,208,189,198,188,189,190,187,192,185,192,184,192,183,195,182,197,181,200,181,202,181,202,180,202,179,204,179,206,180,205,173,204,167,203,167,201,167,201,164,201,161,202,161,203,161,203,156,203,151,200,148,197,145,197,144,197,142,196,142,194,142,194,138,194,134,196,134,199,133,197,132,196,131,197,129,197,128,197,126,196,123,195,123,194,123,191,122,188,120,189,119,189,118,188,118,186,118,186,117,186,115,185,115,183,114,184,112,184,109,183,107,182,105,180,105,178,104">
                                <area data-name="Львовской области" data-manager="Дьяченко Марина" data-class="map-19" shape="poly" href="/#19" coords="71,102,71,106,69,109,68,113,67,113,66,114,63,114,60,114,58,115,57,116,57,117,57,118,49,124,42,131,31,146,20,161,22,166,23,170,23,176,23,181,26,183,28,185,28,186,28,188,29,189,30,189,29,192,28,194,30,196,32,198,34,197,35,197,37,199,40,202,42,202,45,202,46,204,47,205,49,205,51,205,51,201,51,197,51,194,51,191,53,189,55,188,55,186,55,185,56,184,57,184,61,183,65,183,69,183,73,182,77,181,82,180,82,179,82,178,81,178,80,178,78,176,77,175,77,174,77,173,79,173,80,173,80,172,80,172,80,168,81,164,82,162,84,159,88,161,91,163,92,163,92,163,92,161,93,159,96,158,100,157,101,155,103,153,103,151,103,149,104,150,106,150,106,147,106,145,108,144,111,144,113,143,115,143,116,140,117,138,114,134,110,129,110,127,110,125,109,125,108,124,109,122,109,120,107,120,105,120,104,118,104,116,98,117,92,117,92,116,92,114,90,114,88,113,88,112,88,110,87,108,86,106,84,106,82,106,81,105,81,103,79,104,76,104,74,101,71,98">
                                <area data-name="Киевской области" data-manager="Старусева Татьяна" data-class="map-20" shape="poly" href="/#20" coords="270,52,267,54,267,53,266,53,266,55,266,57,264,57,262,57,262,59,262,62,260,64,258,66,258,68,258,70,259,70,261,70,264,73,266,76,265,77,264,79,265,80,265,81,263,81,262,81,264,83,266,86,266,87,266,89,268,91,269,94,268,95,268,97,266,99,264,101,265,102,266,104,266,107,266,111,268,112,270,114,270,116,270,117,271,117,272,118,272,121,272,124,272,129,272,134,273,136,274,138,272,141,271,144,267,146,264,147,264,149,263,151,264,151,265,151,266,153,266,156,266,158,266,160,267,163,269,165,267,168,266,170,266,172,267,173,269,173,270,173,270,174,270,176,272,176,274,177,274,178,274,180,276,180,277,180,279,178,280,177,280,175,280,173,283,172,285,172,286,173,287,175,287,173,287,172,289,172,290,172,290,173,290,175,293,175,295,176,295,176,296,176,297,173,299,170,300,171,302,172,303,171,304,170,307,171,310,172,312,171,314,171,315,169,315,167,316,167,317,167,320,164,322,162,323,159,323,157,324,155,325,154,325,149,326,144,328,142,331,141,330,139,328,138,329,136,330,135,332,136,335,136,335,139,335,142,336,142,337,143,338,142,339,140,340,140,341,140,341,142,341,143,342,143,344,143,346,140,347,137,349,137,350,137,350,136,350,134,351,134,352,134,351,132,351,130,352,128,353,125,356,124,358,123,357,122,357,121,358,118,359,116,357,114,355,113,355,112,355,110,354,110,353,109,354,108,356,106,354,106,352,106,352,105,352,103,351,102,350,101,348,102,347,102,347,104,347,105,345,105,342,105,342,106,342,107,336,107,330,108,327,105,324,102,325,101,326,101,326,99,326,97,324,95,322,93,317,94,313,94,310,93,308,92,308,91,308,89,309,89,311,88,309,87,307,85,306,82,305,79,302,79,300,79,300,77,300,75,300,73,300,72,300,68,301,64,300,64,299,65,296,62,294,59,294,57,294,55,292,53,289,52,284,52,280,53,279,54,279,55,276,55,274,55,273,52,273,50">
                                <area data-name="Житомирской области" data-manager="Дьяченко Марина" data-class="map-21" shape="poly" href="/#21" coords="215,46,213,48,211,48,208,48,207,46,205,44,206,46,206,48,204,50,203,53,200,52,197,52,197,53,196,54,197,56,199,57,196,57,193,56,194,58,194,61,193,61,192,62,192,64,192,66,191,69,189,72,188,75,187,78,185,78,183,79,184,82,184,85,184,91,184,98,184,101,183,105,185,107,186,108,186,111,185,114,186,114,187,114,187,115,187,117,189,117,191,118,191,119,190,120,192,121,194,122,195,122,197,121,198,124,200,126,199,128,198,129,199,131,201,133,198,135,196,136,196,139,196,141,197,141,198,141,198,143,198,145,200,146,202,146,201,147,201,148,202,149,203,150,206,149,209,147,213,147,218,147,219,146,220,145,222,146,224,147,225,146,225,145,228,145,230,145,231,146,231,147,233,146,234,145,235,146,237,146,237,145,237,144,240,143,243,141,245,143,246,145,246,149,247,154,248,156,250,159,257,156,264,154,264,153,264,152,263,152,262,152,262,149,262,147,264,145,265,144,266,144,267,145,268,144,270,143,271,140,272,138,271,133,270,129,271,128,271,127,270,127,269,126,270,125,271,124,271,121,271,118,270,118,269,118,269,117,269,116,268,114,266,113,264,113,263,114,262,111,262,109,263,109,264,109,264,106,263,102,263,101,262,100,265,98,267,96,267,94,267,93,266,93,264,92,264,89,264,85,263,84,261,83,261,81,261,80,262,80,263,80,263,78,264,76,262,73,260,71,259,72,258,73,258,72,257,72,257,68,256,64,258,63,260,63,260,60,260,58,259,59,258,59,257,57,257,56,256,54,255,52,255,51,255,49,253,46,252,43,250,45,247,47,245,47,242,47,240,50,239,52,239,53,240,54,239,56,237,58,237,56,237,54,236,54,235,55,235,53,234,52,234,50,234,48,231,48,228,47,226,48,224,49,221,46,218,43,218,43,218,43">
                                <area data-name="Ровенской области" data-manager="Старусева Татьяна" data-class="map-22" shape="poly" href="/#22" coords="128,30,127,33,128,35,128,38,126,41,125,45,125,47,125,49,126,50,127,52,127,54,128,57,129,57,131,57,132,57,134,57,134,59,134,61,138,65,142,69,142,70,142,72,139,73,137,73,139,74,141,74,142,75,143,76,143,79,143,81,141,82,140,82,140,86,141,90,139,90,136,90,135,96,134,101,133,101,132,101,131,100,131,98,129,99,128,99,128,98,128,96,127,96,126,96,124,98,122,99,119,99,117,99,118,101,118,102,116,102,114,101,115,104,115,106,112,106,109,106,110,109,110,112,111,114,111,116,110,117,108,119,109,119,111,119,111,123,111,128,113,130,114,133,115,133,116,133,117,131,119,130,119,128,119,126,121,126,123,126,125,125,128,125,131,124,134,124,135,122,136,121,140,121,145,122,146,121,146,120,147,120,148,120,147,123,147,125,148,125,149,125,150,123,151,121,154,120,157,119,159,117,160,114,162,114,163,114,165,111,166,107,169,106,172,105,173,105,174,105,177,104,179,102,180,103,181,104,181,103,182,102,181,101,181,99,182,98,184,96,184,93,183,91,183,86,182,82,182,81,182,80,182,78,182,77,184,77,185,77,187,73,189,68,190,67,191,67,191,64,190,62,191,61,193,60,192,57,192,53,193,53,195,53,195,52,195,51,196,51,198,51,199,49,200,46,197,45,194,44,194,46,194,47,192,46,191,46,187,46,183,46,182,41,182,37,179,36,176,36,175,37,173,38,169,37,165,36,165,35,164,33,159,34,154,34,153,32,151,30,149,31,146,31,143,30,141,28,135,27,129,27">
                                <area data-name="Волынской области" data-manager="Маслова Анастасия" data-class="map-23" shape="poly" href="/#23" coords="106,27,102,29,99,29,96,28,96,29,95,30,92,29,90,28,85,29,81,30,80,31,79,33,79,35,79,38,78,38,77,38,72,43,67,47,65,47,62,46,62,45,62,44,61,44,59,44,59,43,59,42,57,43,55,43,56,47,56,51,57,54,57,58,56,60,55,61,56,63,58,64,58,65,58,66,61,68,63,70,63,71,63,73,66,79,69,85,71,86,73,86,73,87,72,89,70,89,67,89,67,90,67,91,69,93,71,95,71,96,71,97,74,100,78,103,79,102,80,101,81,102,83,104,85,104,87,104,87,106,87,107,88,107,89,107,89,109,89,112,92,113,95,115,97,115,100,115,101,114,102,113,104,116,107,118,108,116,109,114,108,112,107,111,108,111,108,110,107,110,106,110,106,109,106,108,107,109,108,109,108,107,107,104,110,104,114,105,113,103,113,101,114,100,116,99,116,97,116,96,118,97,120,98,124,96,128,94,129,95,130,97,131,97,132,97,132,98,133,99,134,94,135,88,137,89,139,89,139,86,138,83,137,82,137,81,139,81,141,81,142,79,142,78,141,76,140,75,138,75,136,75,136,74,136,72,139,71,141,70,138,66,134,63,132,60,131,58,129,58,128,59,126,56,125,54,126,53,126,52,124,51,122,51,123,48,124,46,122,45,121,43,122,43,124,43,126,40,127,37,126,35,125,33,126,31,126,29,125,28,124,27,120,27,116,26,112,25,109,25">
                                <area data-name="Сумской области" data-manager="Старусева Татьяна" data-class="map-24" shape="poly" href="/#24" coords="413,4,412,5,409,5,407,5,407,4,406,3,406,5,405,7,404,8,403,10,403,12,403,14,405,14,406,14,406,15,406,16,408,16,409,16,409,18,409,21,406,20,403,20,403,21,403,22,404,22,405,23,404,25,404,27,403,27,402,27,399,27,397,28,396,31,396,34,395,35,394,36,395,37,396,37,396,40,396,43,398,45,399,47,398,47,397,47,398,49,398,51,397,52,396,52,396,55,396,58,395,59,393,59,394,61,394,63,393,65,393,67,393,67,393,68,392,69,390,70,390,72,390,74,392,75,394,75,394,76,394,78,396,80,398,82,398,84,399,86,398,86,398,86,397,90,397,93,399,94,400,95,398,95,396,96,396,100,395,104,394,105,393,106,396,106,399,106,399,105,400,104,403,106,407,108,410,108,413,108,416,109,419,109,419,108,419,106,421,106,422,105,423,106,424,106,424,105,424,104,426,105,427,107,431,106,434,105,435,106,436,106,436,109,436,111,439,113,441,115,441,116,441,117,444,119,447,122,447,125,446,127,448,128,449,128,451,128,453,127,454,126,456,126,460,126,464,125,466,123,467,121,469,122,470,122,472,119,475,117,479,117,483,117,483,114,483,112,480,109,476,106,476,102,476,98,477,98,479,98,479,95,479,93,477,91,476,90,476,89,477,88,476,88,475,87,476,86,476,85,475,84,474,83,473,81,473,78,475,78,476,78,476,77,475,77,471,77,468,77,467,75,467,73,467,71,466,69,467,68,467,67,466,67,465,67,464,68,463,69,463,68,462,67,459,69,457,70,454,70,451,70,450,68,450,66,448,66,447,67,444,66,441,65,439,66,437,67,436,66,434,64,435,62,436,59,435,57,434,55,435,53,436,51,434,48,432,45,432,44,432,43,430,42,428,41,432,40,436,38,438,37,441,37,440,35,440,33,438,31,437,29,436,30,435,30,435,29,435,29,432,26,430,23,429,20,428,18,429,16,430,14,427,11,423,7,423,6,423,5,421,4,419,2,417,2,415,2">
                                <area data-name="Черниговской области" data-manager="Лапуга Елена" data-class="map-25" shape="poly" href="/#25" coords="397,2,397,3,393,5,390,7,384,8,378,8,376,6,375,4,372,4,369,4,369,6,370,8,369,8,368,9,368,11,367,13,368,13,370,13,367,16,364,18,363,18,362,18,360,19,359,21,354,20,350,20,351,18,351,17,349,17,348,17,343,16,338,16,335,16,333,15,332,17,330,18,330,19,330,20,328,20,326,20,325,19,324,17,321,18,318,18,317,19,316,20,317,22,317,23,315,24,313,26,313,27,313,28,310,30,307,33,307,35,307,37,305,40,302,44,303,44,304,44,304,47,304,50,305,51,306,53,307,56,307,60,305,63,304,66,304,66,304,67,303,67,302,67,303,69,303,70,302,70,301,70,302,73,302,77,304,78,306,79,307,81,308,84,310,85,311,87,311,89,310,92,317,92,324,92,324,93,324,94,326,95,327,96,327,100,326,103,329,104,331,105,332,105,333,105,334,106,334,107,336,106,338,105,340,105,341,106,341,105,341,104,344,104,346,104,346,103,346,101,348,100,350,100,353,102,355,105,356,105,357,105,357,108,356,111,359,113,362,116,364,113,367,111,370,112,372,112,373,114,373,115,378,115,383,114,383,114,384,114,388,110,392,107,393,104,394,102,395,99,395,95,396,95,397,95,396,93,395,91,396,87,397,84,397,83,397,82,394,81,391,80,392,78,393,77,392,76,391,75,389,75,388,75,389,72,389,69,390,68,392,67,392,61,392,56,393,56,394,56,394,54,394,52,395,52,396,51,396,48,396,45,395,43,394,42,394,41,395,39,394,37,393,35,394,34,395,32,395,31,394,30,396,28,398,26,401,25,403,25,403,24,403,23,402,22,401,21,402,19,404,18,406,19,407,20,407,19,408,19,406,17,404,15,403,15,401,14,401,12,401,9,402,8,403,7,403,5,404,2,402,2,400,2,399,1,397,1">
                            </map>
                        </div>
                    </div>
                    <div id="filia">
                        Региональный менеджер в Харьковской области<br>
                        Лапуга Елена<br>
                        тел. +38 (067) 514-18-18, +38 (050) 364-23-80
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='callback-popup' action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <input type="hidden" name="tagmanager" value="/form.html">
        <span class="popup-form-title">Заказ обратного звонка</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="name" class="popup-form-input" placeholder="Ваше Имя" data-validate-required="Обязательное поле" data-title="Имя">
            </li>
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">Перезвонить</button>
            </li>
        </ul>
    </form>
</div>


</body>
</html>
