{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <!-- <link rel="shortcut icon" href="../../images/favicon.png" type="image/png"> -->
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">
    
    <section class="delivery-wrap">
        <div class="container">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Оплата и доставка</li>
                </ul>
            </nav>
            <span class="delivery-title">Оплата и доставка</span>
            <div class="row delivery-row">
                <div class="col-sm-12 delivery-subtitle">Оплата</div>
                <div class="col-sm-4">
                    <i class="delivery-icon icon-money-1"></i>
                    <span class="delivery-list-title">Наличная</span>
                    <ul class="delivery-list">
                        <li class="delivery-list-item">при доставке курьером;</li>
                        <li class="delivery-list-item">наложенным платежом при получении
                        заказа в представительстве службы
                        доставки «Новая Почта», «Міст Експрес»,
                        Интайм</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <i class="delivery-icon icon-beznal"></i>
                    <span class="delivery-list-title">Безналичная</span>
                    <ul class="delivery-list">
                        <li class="delivery-list-item">для физических лиц через Банк (при
                        доставке по всей территории Украины). Вы
                        можете оплатить высланный вам счет
                        безналичным переводом в любом банке
                        (при этом взимается банковская комиссия).
                        Как только оплата поступает на наш
                        расчетный счет (как правило, деньги
                        поступают на следующий день), товар
                        передается в службу доставки. Просьба
                        после совершения оплаты информировать
                        менеджеров;</li>
                        <li class="delivery-list-item">для юридических лиц с оплатой
                        по безналичному расчету оформление
                        заказа с предоставлением пакета
                        необходимых документов доступно при
                        заказе от 795 грн.</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <i class="delivery-icon icon-cards"></i>
                    <span class="delivery-list-title">Картами Visa, MasterCard</span>
                    <p class="delivery-text">
                        Наш интернет-магазин подключен к
                        системе безопасных электронных платежей
                        ПриватБанка, которая позволяет оплачивать
                        наши товары и услуги с помощью любых
                        карт Visa и MasterCard, выпущенных
                        украинскими банками. <br>
                        Поле «Оплатить заказ» картой
                        VISA/MASTERCARD доступно сразу в
                        Корзине заказа. Либо вы можете оплатить
                        ваш заказ в Личном кабинете, если в момент
                        заказа возникли проблемы с оплатой. 
                        Вы можете оставаться спокойными за ваши
                        платежи в Интернете благодаря
                        современной технологии 3D Secure, которая
                        является частью программы Visa "Verified
                        by Visa" и MasterCard
                        «MAsterCardSecureCode». <br>
                        Внимание! Получателем товара, оплаченного
                        картой Visa/MasterCard, может быть только
                        владелец карты. 
                    </p>
                </div>
            </div>
            <div class="row delivery-row">
                <div class="col-sm-12 delivery-subtitle">Доставка</div>
                <div class="col-sm-4">
                    <i class="delivery-icon icon-worker"></i>
                    <span class="delivery-list-title">Курьером до двери по всей Украине</span>
                    <p class="delivery-text">
                        Адресная доставка товаров осуществляется
                        курьерами служб доставки «Міст Експрес»,
                        «Новая почта» по всей территории Украины.
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="delivery-icon icon-house"></i>
                    <span class="delivery-list-title">Самовывоз из нашего офиса в г.Харьков</span>
                    <p class="delivery-text">
                        Наш офис в г. Харьков находится по адресу ул. Такая-то д. 1
                    </p>
                </div>
                <div class="col-sm-4">
                    <i class="delivery-icon icon-delivery"></i>
                    <span class="delivery-list-title">Доставка в отделения компаний перевозчиков</span>
                    <p class="delivery-text">
                        Доставка по Украине через службу доставки
                        «Новая почта», «Міст Експрес», Интайм. 
                        Доставка оплачивается клиентом
                        перевозчику по факту получения товара. 
                        Перед отправкой заказанный Вами товар
                        проверяют на качество и упаковку наши
                        менеджеры, заполняют документы и
                        отправляют Вам. <br>
                        Проверку заказа на предмет целостности
                        упаковки и отсутствия внешних
                        повреждений товара мы рекомендуем
                        осуществлять на месте — в отделении
                        службы доставки в Вашем городе. При
                        наличии повреждения товара при перевозке
                        требуйте от работников службы доставки
                        составить акт с указанием характера
                        повреждения товара и сообщите об этом
                        нам!
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='callback-popup' action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <input type="hidden" name="tagmanager" value="/form.html">
        <span class="popup-form-title">Заказ обратного звонка</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="name" class="popup-form-input" placeholder="Ваше Имя" data-validate-required="Обязательное поле" data-title="Имя">
            </li>
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">Перезвонить</button>
            </li>
        </ul>
    </form>
</div>


</body>
</html>
