{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">
    
    <section class="order">
        <div class="container">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Оформление заказа</li>
                </ul>
            </nav>
            <span class="page-title">Оформление заказа</span>
            <div class="row">
                <div class="col-lg-6">
                    <div class="order-info">
                        <div class="order-info__main">
                            <span class="order-info__type">Парфюмерия</span>
                            <span class="order-info__title">402 / Chanel Chance Tendre / Coco Chanel</span>
                            <div class="order-info__product">
                                <img class="order-info__pic" src="../../images/products/1.png" alt="">
                                <div class="order-info__txt">
                                    <span class="order-info__type">Парфюмерия</span>
                                    <span class="order-info__title">402 / Chanel Chance Tendre / Coco Chanel</span>
                                </div>
                            </div>
                        </div>
                        <div class="order-info__buy">
                            <span class="order-info__buy-title">Цена без учета доставки:</span>
                            <span class="order-info__vol">
                                <div class="volume-slider">
                                    <div>100 мл</div>
                                    <div>200 мл</div>
                                    <div>300 мл</div>
                                </div>
                            </span>
                            <div class="order-info__price">
                                <span class="order-info__usd">4,8 $</span>
                                <span class="order-info__uah">129.6 грн</span>
                            </div>
                        </div>
                    </div>
                    <div class="delivery-info">
                        <form action="" class="delivery-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                            <div class="delivery-info__top">
                                <span class="delivery-info__title">Заполните информацию о себе:</span>
                                <div class="delivery-info__field">
                                    <label class="delivery-info__label" for="name">Имя</label>
                                    <input class="delivery-info__input" type="text" name="name" data-validate-required="Обязательное поле">
                                </div>
                                <div class="delivery-info__field">
                                    <label class="delivery-info__label" for="phone">Телефон</label>
                                    <input class="delivery-info__input" type="text" name="phone" data-validate-required="Обязательное поле">
                                </div>
                            </div>
                            <div class="delivery-info__mid">
                                <span class="delivery-info__title">Способ доставки:</span>
                                <ul class="delivery-types">
                                    <li class="delivery-types__item">
                                        <input class="delivery-types__radio" type="radio" name="delivery" id="delivery1" checked="">
                                        <label class="delivery-types__radio-label icon-np" for="delivery1">Новая почта</label>
                                    </li>
                                    <li class="delivery-types__item">
                                        <input class="delivery-types__radio" type="radio" name="delivery" id="delivery2">
                                        <label class="delivery-types__radio-label icon-worker" for="delivery2">Доставка курьером по Харькову</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="delivery-info__bot">
                                <span class="delivery-info__title">Выберите способ оплаты:</span>
                                <ul class="delivery-types">
                                    <li class="delivery-types__item">
                                        <input class="delivery-types__radio" type="radio" name="payment" id="payment1" checked="">
                                        <label class="delivery-types__radio-label icon-money-1" for="payment1">Наложенным платежом</label>
                                    </li>
                                    <li class="delivery-types__item">
                                        <input class="delivery-types__radio" type="radio" name="payment" id="payment2">
                                        <label class="delivery-types__radio-label icon-cards" for="payment2">Онлайн-оплата картой</label>
                                    </li>
                                </ul>                     
                            </div>
                            <button data-mfp-src="#thanks-popup" class="delivery-btn popup-btn">ПОДТВЕРЖДАЮ ЗАКАЗ</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <div id='thanks-popup' class="thanks-popup">
        <input type="hidden" name="tagmanager" value="/form.html">
        <div class="popup-form-title">Спасибо за заказ</div>
        <span class="popup-form-descr">Ваш заказ успешно оформлен. О любом изменении статуса мы будем информировать вас по телефону!</span>
        <a href="" class="popup-form-btn btn-thanks">ПЕРЕЙТИ НА ГЛАВНУЮ</a>
    </div>
</div>


</body>
</html>
