{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch main-menu__btn"><span></span></button>
    <button class="search-btn search-btn__main icon-search"><span></span></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <div class="cart">
            <span class="cart-items">0</span>
        </div>
    </div>
    <button data-mfp-src="#register-popup" class="login-btn icon-person popup-btn"></button>
    <div data-mfp-src="#price-popup" class="price-btn popup-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </div>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>
<nav class="main-menu">
    <ul class="main-menu-list">
        <li class="main-menu-list__item">
            <a class="main-menu-list__item-link" href="">
                О КОМПАНИИ
            </a>
        </li>
        <li class="main-menu-list__item">
            <a class="main-menu-list__item-link" href="">
                СТАТЬИ
            </a>
        </li>
        <li class="main-menu-list__item">
            <a class="main-menu-list__item-link" href="">
                ВАКАНСИИ
            </a>
        </li>
        <li class="main-menu-list__item">
            <a class="main-menu-list__item-link" href="">
                ОПЛАТА И ДОСТАВКА
            </a>
        </li>
        <li class="main-menu-list__item">
            <a class="main-menu-list__item-link" href="">
                КОНТАКТЫ
            </a>
        </li>
    </ul>
</nav>
<form class="main-search">
    <div class="search-wrapper">
        <input class="search-field" type="text" name="search" placeholder="Поиск по названию">
        <button class="search-field-btn icon-search"></button>
    </div>
</form>
<div class="main-cart">    
    <span class="main-cart__close">×</span>
    <div class="clearfix"></div>
    <ul class="main-cart__orders-list">
        <li class="main-cart__order">
            <span class="main-cart__del-order">×</span>
            <div class="main-cart__pic-wrapper">
                <img class="main-cart__pic" src="../../images/products/1.png" alt="">
            </div>
            <div class="main-cart__order-info">
                <span class="main-cart__order-type">Парфюмерия</span>
                <a class="main-cart__order-name" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
            </div>
            <div class="main-cart__order-buy">
                <span class="main-cart__order-vol">
                    <div class="volume-slider">
                        <div>100 мл</div>
                        <div>200 мл</div>
                        <div>300 мл</div>
                    </div>
                </span>
                <div class="main-cart__order-price">
                    <span class="main-cart__order-usd">9,6 $</span>
                    <span class="main-cart__order-uah">259.2 грн</span>
                </div>
            </div>
        </li>
        <li class="main-cart__order">
            <span class="main-cart__del-order">×</span>
            <div class="main-cart__pic-wrapper">
                <img class="main-cart__pic" src="../../images/products/2.png" alt="">
            </div>
            <div class="main-cart__order-info">
                <span class="main-cart__order-type">Парфюмерия</span>
                <a class="main-cart__order-name" href="">393 / See By Chloe / Chloe + флакон</a>
            </div>
            <div class="main-cart__order-buy">
                <span class="main-cart__order-vol">
                    <div class="volume-slider">
                        <div>100 мл</div>
                        <div>200 мл</div>
                        <div>300 мл</div>
                    </div>
                </span>
                <div class="main-cart__order-price">
                    <span class="main-cart__order-usd">9,6 $</span>
                    <span class="main-cart__order-uah">259.2 грн</span>
                </div>
            </div>
        </li>
        <li class="main-cart__total">
            <div class="main-cart__total-info">
                <span class="main-cart__total-text">Итого 2 товарa на сумму:</span>
                <div class="main-cart__total-price">
                    <span class="main-cart__total-usd">19,2 $</span>
                    <span class="main-cart__total-uah">518.4 грн</span>
                </div>
            </div>
            <a class="order-btn" href="">ОФОРМИТЬ ЗАКАЗ</a>
        </li>
    </ul>
    <div class="empty-cart">
        <img src="../../images/empty_cart.png" alt="Корзина пуста">
        Ваша корзина пуста
    </div>
</div>
<main class="main-container homepage">
    <section class="section-1">
        <div class="main-slider">
            <div class="main-slide first-slide">
                <div class="container">
                    <div class="col-md-8 zero-padding main-slide-content">
                        <span class="main-slide__title">НЕ ЗНАЕТЕ КАКОЙ ПАРФЮМ ПОДОБРАТЬ?</span>
                        <span class="main-slide__subtitle">Parfum House поможет Вам</span>
                        <button class="main-slide__btn">Узнать больше</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="main-slide first-slide">
                <div class="container">
                    <div class="col-md-8 zero-padding main-slide-content">
                        <span class="main-slide__title">НЕ ЗНАЕТЕ КАКОЙ ПАРФЮМ ПОДОБРАТЬ?</span>
                        <span class="main-slide__subtitle">Parfum House поможет Вам</span>
                        <button class="main-slide__btn">Узнать больше</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-2">
        <span class="section-title">Новинки</span>
        <div class="wrapper">
            <div class="slider-wrapper">
                <div class="new-items">
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-3">
        <span class="section-title">Лидеры продаж</span>
        <div class="wrapper">
            <div class="slider-wrapper">
                <div class="new-items">
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-4">
        <span class="section-title">Статьи</span>
        <div class="articles-slider">
            <div class="articles-slide">
                <img class="article-pic" src="../../images/news/1.jpg" alt="">
                <button class="article-btn">ЧТО НОВОГО</button>
                <div class="article-date">12 Oct 2017</div>
                <div class="clearfix"></div>
                <div class="article-info">
                    <span class="article-tite">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</span>
                    <div class="article-txt">Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента получения приглашения от организаторов выставки
                    компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя</div>
                    <a class="article-link icon-arrow" href="">ПЕРЕЙТИ</a>
                </div>
            </div>
            <div class="articles-slide">
                <img class="article-pic" src="../../images/news/1.jpg" alt="">
                <button class="article-btn">ЧТО НОВОГО</button>
                <div class="article-date">12 Oct 2017</div>
                <div class="clearfix"></div>
                <div class="article-info">
                    <span class="article-tite">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</span>
                    <div class="article-txt">Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента получения приглашения от организаторов выставки
                    компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя</div>
                    <a class="article-link icon-arrow" href="">ПЕРЕЙТИ</a>
                </div>
            </div>
            <div class="articles-slide">
                <img class="article-pic" src="../../images/news/1.jpg" alt="">
                <button class="article-btn">ЧТО НОВОГО</button>
                <div class="article-date">12 Oct 2017</div>
                <div class="clearfix"></div>
                <div class="article-info">
                    <span class="article-tite">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</span>
                    <div class="article-txt">Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента получения приглашения от организаторов выставки
                    компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя</div>
                    <a class="article-link icon-arrow" href="">ПЕРЕЙТИ</a>
                </div>
            </div>
            <div class="articles-slide">
                <img class="article-pic" src="../../images/news/1.jpg" alt="">
                <button class="article-btn">ЧТО НОВОГО</button>
                <div class="article-date">12 Oct 2017</div>
                <div class="clearfix"></div>
                <div class="article-info">
                    <span class="article-tite">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</span>
                    <div class="article-txt">Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента получения приглашения от организаторов выставки
                    компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя</div>
                    <a class="article-link icon-arrow" href="">ПЕРЕЙТИ</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-4">
        <span class="section-title">О компании</span>
        <div class="container">
            <article class="about-text">
                Компания Parfum House является официальным дистрибьютором разливной парфюмерии торговых марок Reni, Refan и Library of Fragrances в Украине уже на
                протяжении 10 лет.<br>
                Компания следует всем мировым тенденциям и на постоянной основе дополняет свой каталог новинками. Для наших клиентов компания предоставляет
                мужскую и женскую парфюмерию различных мировых брендов высшего класса, по самымдоступным ценам, за счет того, что вся парфюмерия продается на
                разлив, по миллилитрам.<br>
                Цель нашей компании заключается в том, что бы любой житель Украины смог насладиться идеальными ароматами элитной, всемирной известной парфюмерии
                по доступным ценам. Вся представленная парфюмерия неоднократно опробована нашими клиентами и получилатолько положительные отзывы.
            </article>
        </div>  
    </section>
</main>
<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide"> 
    <div id='register-popup' action="" class="register-popup">
        <div class="log-reg-wrapper">
            <div class="reg-wrapper">
                <div class="popup-form-title">Регистрация</div>
                <span class="popup-form-descr-bold">Создав учетную запись Вы сможете:</span>  
                <ul class="popup-reg-list">
                    <li class="popup-reg-list__item">
                        <i class="popup-reg-list__icon icon-eye"></i>
                        <span class="popup-reg-list__text">Отслеживать статус заказа</span>
                    </li>
                    <li class="popup-reg-list__item">
                        <i class="popup-reg-list__icon icon-doc"></i>
                        <span class="popup-reg-list__text">Просматривать историю покупок</span>
                    </li>
                    <li class="popup-reg-list__item">
                        <i class="popup-reg-list__icon icon-letter"></i>
                        <span class="popup-reg-list__text">Узнавать о новинках</span>
                    </li>
                </ul>   
                <button class="popup-form-btn yellow reg-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>       
            </div>
            <div class="log-wrapper">
                <form action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                    <div class="popup-form-title">Вход</div>
                    <ul class="popup-form-fields reg-fields">
                        <li class="popup-form-composition reg-composition">
                            <input type="email" name="email" class="popup-form-input" placeholder="E-mail" data-validate-required="Обязательное поле" data-title="email">
                        </li>
                        <li class="popup-form-composition reg-composition">
                            <input type="password" name="password" class="popup-form-input" placeholder="Ваш пароль" data-validate-required="Обязательное поле" data-title="пароль">
                        </li>
                        <li class="popup-form-composition reg-composition btn-composition">
                            <button class="popup-form-btn">ВОЙТИ</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="regisration-wrapper">
            <div class="popup-form-title">Регистрация</div>
            <span class="popup-form-descr">Если Вы уже зарегистрированы, перейдите на страницу <a href="">Входа в систему</a></span>
            <ul class="popup-reg-list reverse">
                <li class="popup-reg-list__item">
                    <i class="popup-reg-list__icon icon-eye"></i>
                    <span class="popup-reg-list__text">Отслеживать статус заказа</span>
                </li>
                <li class="popup-reg-list__item">
                    <i class="popup-reg-list__icon icon-doc"></i>
                    <span class="popup-reg-list__text">Просматривать историю покупок</span>
                </li>
                <li class="popup-reg-list__item">
                    <i class="popup-reg-list__icon icon-letter"></i>
                    <span class="popup-reg-list__text">Узнавать о новинках</span>
                </li>
            </ul>
            <form action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                <div class="row reg-form-row">
                    <div class="col-sm-6 reg-form-cell">
                        <label class="reg-form-label" for="name">Имя</label>
                        <input class="reg-form-input" type="text" name="name" data-validate-required="Обязательное поле">
                    </div>
                    <div class="col-sm-6 reg-form-cell">
                        <label class="reg-form-label" for="last-name">Фамилия</label>
                        <input class="reg-form-input" type="text" name="last-name" data-validate-required="Обязательное поле">
                    </div>
                </div>
                <div class="row reg-form-row">
                    <div class="col-sm-6 reg-form-cell">
                        <label class="reg-form-label" for="phone">Телефон</label>
                        <input class="reg-form-input" type="text" name="phone" data-validate-required="Обязательное поле">
                    </div>
                    <div class="col-sm-6 reg-form-cell">
                        <label class="reg-form-label" for="email">E-mail</label>
                        <input class="reg-form-input" type="text" name="email" data-validate-required="Обязательное поле">
                    </div>
                </div>
                <div class="row reg-form-row">
                    <div class="col-sm-6 reg-form-cell">
                        <label class="reg-form-label" for="password">Пароль</label>
                        <input class="reg-form-input" type="password" name="password" data-validate-required="Обязательное поле">
                    </div>
                    <div class="col-sm-6 reg-form-cell">
                        <label class="reg-form-label" for="re-password">Повторите пароль</label>
                        <input class="reg-form-input" type="password" name="re-password" data-validate-required="Обязательное поле">
                    </div>
                </div>
                <div class="agreement">
                    <input type="checkbox" name="">
                    <span class="agreement-text">Я прочитал <a href="">Пользовательское соглашение</a> и согласен с ними</span>
                </div>
                <div class="popup-form-composition btn-composition center"><button class="popup-form-btn register-btn">ЗАРЕГИСТРИРОВАТЬСЯ</button></div>
            </form>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>

<div class="mfp-hide"> 
    <div id='price-popup' action="" class="price-popup">
        <div class="price-popup__top-title">Добро пожаловать на Parfum House</div>
        <img class="price-popup-bg" src="../../images/price-popup-bg.jpg" alt="">
        <form action="" class="price-popup-form popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
            <div class="price-popup-title">Скачайте прайс</div>
            <span class="price-popup-descr">с полным списком наших товаров</span>
            <ul class="popup-form-fields price-fields">
                <li class="popup-form-composition price-composition">
                    <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
                </li>
                <li class="popup-form-composition price-composition btn-composition">
                    <button class="popup-form-btn">СКАЧАТЬ ПРАЙС</button>
                </li>
            </ul>
        </form>
    </div>
</div>


</body>
</html>