{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <!-- <link rel="shortcut icon" href="../../images/favicon.png" type="image/png"> -->
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">
    <section class="news">
        <div class="product-wrapper">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Статьи</li>
                </ul>
            </nav>
            <span class="news-title">Статьи</span>
            <div class="row news-wrapper">
                <div class="news-item-main col-md-8">
                    <div class="news-item-main__title-wrap">
                        <h1 class="news-item-main__title">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</h1>
                        <div class="news-control">
                            <a class="news-control__prev icon-arr inactive" href=""></a>
                            <a class="news-control__next icon-arr" href=""></a>
                        </div>
                    </div>
                    <img class="news-item-main__pic" src="../../images/news/1.jpg" alt="">
                    <article class="news-item-main__text">
                        <p>Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента
                        получения приглашения от организаторов выставки компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                        rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                        facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus
                        saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                        voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
                        so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through
                        weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, 
                        when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every
                        pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be
                        repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure
                        other greater pleasures, or else he endures pains to avoid worse pains.</p>
                    </article>
                </div>
                <div class="col-md-4 more-news">
                    <span class="more-news__title">Вам также может быть интересно:</span>
                    <div class="news-item more-news-item">
                        <img class="news-item-pic" src="../../images/news/1.jpg" alt="">
                        <button class="news-item-btn">ЧТО НОВОГО</button>
                        <div class="news-item-date">12 Oct 2017</div>
                        <div class="clearfix"></div>
                        <div class="news-item-info">
                            <span class="news-item-title">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</span>
                            <div class="news-item-txt">Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента получения приглашения от организаторов выставки
                            компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя</div>
                            <a class="news-item-link icon-arrow" href="">ПЕРЕЙТИ</a>
                        </div>
                    </div>
                    <div class="news-item more-news-item">
                        <img class="news-item-pic" src="../../images/news/1.jpg" alt="">
                        <button class="news-item-btn">ЧТО НОВОГО</button>
                        <div class="news-item-date">12 Oct 2017</div>
                        <div class="clearfix"></div>
                        <div class="news-item-info">
                            <span class="news-item-title">PARFUM HOUSE НА ВЫСТАВКЕ INTERCHARM УКРАИНА 2017</span>
                            <div class="news-item-txt">Вот и закончилась Международная выставка индустрии красоты InterCHARM Украина, в которой мы были очень рады принять участие. С момента получения приглашения от организаторов выставки
                            компания Parfum House начала комплексную подготовку к мероприятию, чтобы показать себя</div>
                            <a class="news-item-link icon-arrow" href="">ПЕРЕЙТИ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='callback-popup' action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <input type="hidden" name="tagmanager" value="/form.html">
        <span class="popup-form-title">Заказ обратного звонка</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="name" class="popup-form-input" placeholder="Ваше Имя" data-validate-required="Обязательное поле" data-title="Имя">
            </li>
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">Перезвонить</button>
            </li>
        </ul>
    </form>
</div>


</body>
</html>
