{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch packages-menu__btn"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>
<nav class="packages-menu">
    <ul class="packages-list">
        <li class="packages-list__item">
            <a class="packages-list__item-link" href="">
                <img class="packages-list__item-pic" src="../../images/brands/ameli-black.png" alt="">
                <span class="packages-list__item-name">Пакет “Mini”</span>
            </a>
        </li>
        <li class="packages-list__item">
            <a class="packages-list__item-link" href="">
                <img class="packages-list__item-pic" src="../../images/brands/ameli-black.png" alt="">
                <span class="packages-list__item-name">Пакет “Start”</span>
            </a>
        </li>
        <li class="packages-list__item">
            <a class="packages-list__item-link" href="">
                <img class="packages-list__item-pic" src="../../images/brands/reni-black.png" alt="">
                <span class="packages-list__item-name">Пакет “Style”</span>
            </a>
        </li>
        <li class="packages-list__item">
            <a class="packages-list__item-link" href="">
                <img class="packages-list__item-pic" src="../../images/brands/reni-black.png" alt="">
                <span class="packages-list__item-name">Пакет “Business”</span>
            </a>
        </li>
        <li class="packages-list__item">
            <a class="packages-list__item-link" href="">
                <img class="packages-list__item-pic" src="../../images/brands/reni-black.png" alt="">
                <span class="packages-list__item-name">Пакет “Optimal”</span>
            </a>
        </li>
        <li class="packages-list__item">
            <a class="packages-list__item-link" href="">
                <img class="packages-list__item-pic" src="../../images/brands/reni-black.png" alt="">
                <span class="packages-list__item-name">Пакет “Partner”</span>
            </a>
        </li>
    </ul>
</nav>
<main class="main-container">
    <section class="packages-header">
        <div class="packages-wrapper">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Стартовые пакеты</li>
                </ul>
            </nav>
            <div class="packages-title">Стартовые пакеты</div>
        </div>
    </section>
    <section class="packages-content__main">
        <div class="packages-wrapper packages-wrapper__main">
            <div class="col-lg-3 packages-pic__wrapper">
                <img src="../../images/products/packages/1.png" alt="">
            </div>
            <div class="col-lg-9 packages-specs__wrapper">
                <div class="col-md-8 packages-buy__wrapper">
                    <div class="packages-buy__inner">
                        <div class="packages-buy__top">
                            <img class="packages-buy__pic" src="../../images/brands/ameli.png" alt="">
                            <div class="packages-buy__info">
                                <span class="packages-buy__name">Пакет “Start”</span>
                                <a class="packages-buy__aroma" href="#aroma">15 ароматов</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="packages-buy__bot">
                            <div class="packages-price">
                                <span class="packages-price__title">Цена:</span>
                                <span class="packages-price__old">120 $</span>
                                <span class="packages-price__new">114 $</span>
                            </div>
                            <button class="packages-buy__btn">ДОБАВИТЬ В КОРЗИНУ</button>
                        </div>
                        <div class="packages-label economy"><p><i>5%</i> экономия</p></div>
                    </div>
                </div>
                <div class="col-md-4 packages-delivery__wrapper">
                    <div class="product-delivery__inner">
                        <div class="product-delivery__banner">
                            <span class="product-delivery__banner-title">Бесплатная доставка</span>
                            <span class="product-delivery__banner-text">при заказе от 100$ (1$=27.00грн)</span>
                        </div>
                        <ul class="product-delivery__types">
                            <li class="product-delivery__type">
                                <i class="product-delivery__type-icon icon-delivery"></i>
                                <div class="product-delivery__type-descr">
                                    <span class="product-delivery__type-title">Доставка</span>
                                    <ul class="product-delivery__type-list">
                                        <li class="product-delivery__type-item">В отделение Новой почты</li>
                                        <li class="product-delivery__type-item">Курьерская доставка</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="product-delivery__type">
                                <i class="product-delivery__type-icon icon-money"></i>
                                <div class="product-delivery__type-descr">
                                    <span class="product-delivery__type-title">Оплата</span>
                                    <ul class="product-delivery__type-list">
                                        <li class="product-delivery__type-item">Наличными</li>
                                        <li class="product-delivery__type-item">Оплата картой</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="product-delivery__footer">
                            <div class="product-delivery__footer-title">Минимальная сумма заказа</div>
                            <span class="product-delivery__footer-text">30$ (1$=27.00 грн)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="packages-content__description">
        <div class="packages-wrapper">
            <span class="packages-title" id="aroma">Описание пакета</span>
            <div class="packages-description__block">
                <div class="packages-description__inner">
                    <span class="packages-description__label aromas">
                        <p>Ароматы</p>
                    </span>
                    <div class="aroma-list">
                        <table class="aroma-table">
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                        </table>
                        <table class="aroma-table">
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                            <tr>
                                <td>000</td>
                                <td>Версия</td>
                                <td>Название аромата</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="packages-description__block bottles">
                <div class="packages-description__inner">
                    <span class="packages-description__label bottles">
                        <p>флаконы<br>И СПРЕИ</p>
                    </span>
                    <ul class="packages-description__bottle-list">
                        <li class="packages-description__bottle-item">10 Стеклянных флаконов (5-50 МЛ)</li>
                        <li class="packages-description__bottle-item">5 Спреев металлических 13/415</li>
                        <li class="packages-description__bottle-item">5 Спреев металлических 18/415</li>
                    </ul>
                    <ul class="packages-description__acs-list">
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/1.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>10</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/2.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>5</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/3.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>5</span>шт.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="packages-description__block bottles">
                <div class="packages-description__inner">
                    <span class="packages-description__label equipment">
                        <p>ОБОРУДОВАНИЕ</p>
                    </span>
                    <ul class="packages-description__bottle-list">
                        <li class="packages-description__bottle-item">1 штатив на 15 ячеек + 15 роллонов с ароматами</li>
                        <li class="packages-description__bottle-item">15 мерных цилиндров 25 мл</li>
                        <li class="packages-description__bottle-item">1 лакмусовая бумага</li>
                        <li class="packages-description__bottle-item">100 подарочных пакетов “Parfum House”</li>
                        <li class="packages-description__bottle-item">15 cтикеров с названием ароматов</li>
                        <li class="packages-description__bottle-item">1 плакат</li>
                    </ul>
                    <ul class="packages-description__acs-list">
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/4.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>1</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/5.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>15</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/6.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>5</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/7.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>100</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/8.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>15</span>шт.
                            </div>
                        </li>
                        <li class="packages-description__acs-item">
                            <div class="packages-description__acs-pic-wrapper"><img class="packages-description__acs-pic" src="../../images/products/acs/9.jpg" alt=""></div>
                            <span class="packages-description__acs-x">x</span>
                            <div class="packages-description__acs-count">
                                <span>1</span>шт.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='callback-popup' action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <input type="hidden" name="tagmanager" value="/form.html">
        <span class="popup-form-title">Заказ обратного звонка</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="name" class="popup-form-input" placeholder="Ваше Имя" data-validate-required="Обязательное поле" data-title="Имя">
            </li>
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">Перезвонить</button>
            </li>
        </ul>
    </form>
</div>


</body>
</html>
