{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <!-- <link rel="shortcut icon" href="../../images/favicon.png" type="image/png"> -->
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">
    <section class="product-header">
        <div class="product-wrapper">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Парфюмерия</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">402 / Chanel Chance Tendre / Coco Chanel</li>
                </ul>
            </nav>
            <div class="product-name">402 / Chanel Chance Tendre / Coco Chanel</div>
            <nav class="product-menu__tabs">
                <ul class="product-menu">
                    <li class="product-menu__item active">
                        Все о товаре
                    </li>
                    <li class="product-menu__item">
                        Отзывы (<span class="rev-count">0</span>)
                    </li>
                    <li class="product-menu__item bottles-tab">
                        Флаконы
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <div class="product-content active">
        <section class="product-content__main">
            <div class="product-wrapper">
                <div class="col-lg-4 product-pic__wrapper">
                    <img src="../../images/products/1.png" alt="">
                </div>
                <div class="col-lg-8 product-specs__wrapper">
                    <div class="col-md-8 product-buy__wrapper">
                        <div class="product-buy__inner">
                            <div class="product-buy__top">
                                <table class="product-table__specs">
                                    <tr>
                                        <td>Артикул:</td>
                                        <td>320</td>
                                    </tr>
                                    <tr>
                                        <td>Группа ароматов:</td>
                                        <td>шипровые, цветочные</td>
                                    </tr>
                                    <tr>
                                        <td>Вид продукции:</td>
                                        <td>духи</td>
                                    </tr>
                                    <tr>
                                        <td>Пол:</td>
                                        <td>для женщин</td>
                                    </tr>
                                    <tr>
                                        <td>Производитель:</td>
                                        <td>Ameli</td>
                                    </tr>
                                    <tr>
                                        <td>Бренд:</td>
                                        <td>Chanel</td>
                                    </tr>
                                    <tr>
                                        <td>Фото оригинала:</td>
                                        <td>Chanel Chance</td>
                                    </tr>
                                    <tr>
                                        <td>Количество в упаковке:</td>
                                        <td>1</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="product-buy__bot">
                                <div class="product-price">
                                    <span class="product-price__title">Цена:</span>
                                    <span class="product-price__usd">4,8 $</span>
                                    <span class="product-price__uah">129.6 грн</span>
                                    <div class="product-counter">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="product-buy__main">
                                    <div class="product-socials">
                                        <a class="product-socials__item icon-facebook" href="">Мы в facebook</a>
                                        <a class="product-socials__item icon-insta" href="">Мы в instagram</a>
                                    </div>
                                    <button class="product-buy__btn">ДОБАВИТЬ В КОРЗИНУ</button>
                                </div>
                            </div>
                            <div class="product-label new"><span>новинки</span></div>
                        </div>
                    </div>
                    <div class="col-md-4 product-delivery__wrapper">
                        <div class="product-delivery__inner">
                            <div class="product-delivery__banner">
                                <span class="product-delivery__banner-title">Бесплатная доставка</span>
                                <span class="product-delivery__banner-text">при заказе от 100$ (1$=27.00грн)</span>
                            </div>
                            <ul class="product-delivery__types">
                                <li class="product-delivery__type">
                                    <i class="product-delivery__type-icon icon-delivery"></i>
                                    <div class="product-delivery__type-descr">
                                        <span class="product-delivery__type-title">Доставка</span>
                                        <ul class="product-delivery__type-list">
                                            <li class="product-delivery__type-item">В отделение Новой почты</li>
                                            <li class="product-delivery__type-item">Курьерская доставка</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="product-delivery__type">
                                    <i class="product-delivery__type-icon icon-money"></i>
                                    <div class="product-delivery__type-descr">
                                        <span class="product-delivery__type-title">Оплата</span>
                                        <ul class="product-delivery__type-list">
                                            <li class="product-delivery__type-item">Наличными</li>
                                            <li class="product-delivery__type-item">Оплата картой</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="product-delivery__footer">
                                <div class="product-delivery__footer-title">Минимальная сумма заказа</div>
                                <span class="product-delivery__footer-text">30$ (1$=27.00 грн)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="product-content">
        <section class="product-content__reviews">
            <div class="product-wrapper">
                <div class="col-md-9 product-rev__wrapper">
                    <span class="product-reviews__title">Оставьте отзыв</span>
                    <form action="" class="review-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
                        <div class="row">
                            <div class="col-md-6 review-form-input__wrapper">
                                <span class="review-form-input__title">Достоинства</span>
                                <input type="text" name="advantage" class="review-form-input" data-validate-required="Обязательное поле" data-title="Достоинства">
                            </div>
                            <div class="col-md-6 review-form-input__wrapper">
                                <span class="review-form-input__title">Недостатки</span>
                                <input type="text" name="disadvantage" class="review-form-input" data-validate-required="Обязательное поле" data-title="Недостатки">
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 review-form-input__wrapper">
                                <span class="review-form-text__title">Комментарий</span>
                                <textarea class="review-form-text"></textarea>
                            </div>                         
                        </div>
                        <div class="row">
                            <div class="col-md-6 review-form-input__wrapper">
                                <span class="review-form-input__title">Имя</span>
                                <input type="text" name="name" class="review-form-input" data-validate-required="Обязательное поле" data-title="Имя">
                            </div>
                            <div class="col-md-6 review-form-input__wrapper">
                                <span class="review-form-input__title">E-mail</span>
                                <input type="text" name="email" class="review-form-input" data-validate-required="Обязательное поле" data-title="E-mail">
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 review-form__btn-wrapper">
                                <button class="review-form__btn">ОСТАВИТЬ ОТЗЫВ</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 product-deliv__wrapper">
                    <div class="product-delivery__inner">
                        <div class="product-delivery__banner">
                            <span class="product-delivery__banner-title">Бесплатная доставка</span>
                            <span class="product-delivery__banner-text">при заказе от 100$ (1$=27.00грн)</span>
                        </div>
                        <ul class="product-delivery__types">
                            <li class="product-delivery__type">
                                <i class="product-delivery__type-icon icon-delivery"></i>
                                <div class="product-delivery__type-descr">
                                    <span class="product-delivery__type-title">Доставка</span>
                                    <ul class="product-delivery__type-list">
                                        <li class="product-delivery__type-item">В отделение Новой почты</li>
                                        <li class="product-delivery__type-item">Курьерская доставка</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="product-delivery__type">
                                <i class="product-delivery__type-icon icon-money"></i>
                                <div class="product-delivery__type-descr">
                                    <span class="product-delivery__type-title">Оплата</span>
                                    <ul class="product-delivery__type-list">
                                        <li class="product-delivery__type-item">Наличными</li>
                                        <li class="product-delivery__type-item">Оплата картой</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="product-delivery__footer">
                            <div class="product-delivery__footer-title">Минимальная сумма заказа</div>
                            <span class="product-delivery__footer-text">30$ (1$=27.00 грн)</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="product-content">
        <section class="product-content__bottles">
            <div class="product-wrapper">
                <span class="bottles-title">Флаконы для Chance (Chanel) новая коллекция</span>
            </div>
            <div class="wrapper">
                <div class="slider-wrapper">
                    <div class="tab-items">
                        <div class="item">
                            <div class="item-inner">
                                <a href="" class="item-logo-wrapper">
                                    <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                                </a>
                                <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                                <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                                <a class="item-reviews" href=""><span>0</span> отзывов</a>
                                <ul class="item-price__wrapper">
                                    <li class="item-price__section item-vol">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </li>
                                    <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                    <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                                </ul>
                                <button class="item-btn-tocart">Добавить в корзину</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <a href="" class="item-logo-wrapper">
                                    <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                                </a>
                                <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                                <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                                <a class="item-reviews" href=""><span>0</span> отзывов</a>
                                <ul class="item-price__wrapper">
                                    <li class="item-price__section item-vol">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </li>
                                    <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                    <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                                </ul>
                                <button class="item-btn-tocart">Добавить в корзину</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <a href="" class="item-logo-wrapper">
                                    <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                                </a>
                                <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                                <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                                <a class="item-reviews" href=""><span>0</span> отзывов</a>
                                <ul class="item-price__wrapper">
                                    <li class="item-price__section item-vol">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </li>
                                    <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                    <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                                </ul>
                                <button class="item-btn-tocart">Добавить в корзину</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <a href="" class="item-logo-wrapper">
                                    <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                                </a>
                                <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                                <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                                <a class="item-reviews" href=""><span>0</span> отзывов</a>
                                <ul class="item-price__wrapper">
                                    <li class="item-price__section item-vol">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </li>
                                    <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                    <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                                </ul>
                                <button class="item-btn-tocart">Добавить в корзину</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <a href="" class="item-logo-wrapper">
                                    <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                                </a>
                                <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                                <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                                <a class="item-reviews" href=""><span>0</span> отзывов</a>
                                <ul class="item-price__wrapper">
                                    <li class="item-price__section item-vol">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </li>
                                    <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                    <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                                </ul>
                                <button class="item-btn-tocart">Добавить в корзину</button>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-inner">
                                <a href="" class="item-logo-wrapper">
                                    <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                                </a>
                                <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                                <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                                <a class="item-reviews" href=""><span>0</span> отзывов</a>
                                <ul class="item-price__wrapper">
                                    <li class="item-price__section item-vol">
                                        <div class="volume-slider">
                                            <div>100 мл</div>
                                            <div>200 мл</div>
                                            <div>300 мл</div>
                                        </div>
                                    </li>
                                    <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                    <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                                </ul>
                                <button class="item-btn-tocart">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </section>   
    </div>
    <section class="product-content__descr">
        <div class="product-wrapper">
            <span class="product-descr__title">Описание Chance (Chanel) новая коллекция</span>
            <div class="product-descr__info">
                <div class="product-descr__notes">
                    <div class="product-descr__notes-top">
                        <img src="../../images/notes-top.png" alt="">
                        <div class="product-descr__notes-text">
                            <span class="product-descr__notes-title">Верхние ноты</span>
                            <span class="product-descr__notes-info">Ананас, Ирис, Пачули, Розовый перец, Гиацинт</span>
                        </div>
                    </div>
                    <div class="product-descr__notes-mid">
                        <img src="../../images/notes-mid.png" alt="">
                        <div class="product-descr__notes-text">
                            <span class="product-descr__notes-title">Сердечные ноты</span>
                            <span class="product-descr__notes-info">Жасмин, Лимон</span>
                        </div>
                    </div>
                    <div class="product-descr__notes-bot">
                        <img src="../../images/notes-bot.png" alt="">
                        <div class="product-descr__notes-text">
                            <span class="product-descr__notes-title">Шлейфовые ноты</span>
                            <span class="product-descr__notes-info">Мускус, Пачули, Ваниль, Ветивер</span>
                        </div>
                    </div>
                </div>
                <div class="product-descr">
                    <strong>Группа:</strong> шипровые, цветочные<br>
                    Chanel Chance — это показатель отменного вкуса, изысканности и женственности. Необычная композиция
                    аромата ярких цветов и волны свежести чудесным образом смешиваются с чувственными, сладкими и пряными
                    нотками. Это шанс дамы стать неотразимой, которым трудно пренебречь.<br>
                    Chance Chanel — это аромат для женщин, принадлежит к группе шипровые цветочные. Аромат характерен
                    осязаемой легкостью и свежестью, где интересно переплетаются свежие цитрусовые ноты, запах жасмина и
                    грейпфрута, что находятся на основном его плане. Его базовые нотки основываются на сладостном жасмине,
                    ирисе и гиацинте. Глубинный шлейф аромата различает более спокойные веяния амбры, мускуса и ванили.
                    <br><br>
                    <strong>Ноты:</strong> Ананас, Ирис, Пачули, Розовый перец, Гиацинт , Жасмин, Лимон , Мускус, Пачули, Ваниль, Ветивер
                </div>
            </div>
        </div>
    </section>
    <section class="product-content__reviews">
        <div class="product-wrapper">
            <div class="product-reviews">
                <div class="product-reviews__wrapper">
                    <span class="product-reviews__title">Отзывы</span>
                    <div class="product-reviews__container">Нет отзывов</div>
                </div>
                <button class="product-reviews__btn">ОСТАВИТЬ ОТЗЫВ</button>
            </div>
        </div>
    </section>
    <section class="section-bottles">
        <div class="product-wrapper">
            <span class="bottles-title">Флаконы для Chance (Chanel) новая коллекция</span>
        </div>
        <div class="wrapper">
            <div class="slider-wrapper">
                <div class="new-items">
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <a href="" class="item-logo-wrapper">
                                <img class="item-logo" src="../../images/brands/ameli.png" alt="ameli">
                            </a>
                            <a href=""><img class="item-pic" src="../../images/catalog/1.jpg" alt=""></a>
                            <a class="item-title" href="">402 / Chanel Chance Tendre / Coco Chanel</a>
                            <a class="item-reviews" href=""><span>0</span> отзывов</a>
                            <ul class="item-price__wrapper">
                                <li class="item-price__section item-vol">
                                    <div class="volume-slider">
                                        <div>100 мл</div>
                                        <div>200 мл</div>
                                        <div>300 мл</div>
                                    </div>
                                </li>
                                <li class="item-price__section price-usd">4.8 <span>$</span></li>
                                <li class="item-price__section price-uah">129.6 <span>грн</span></li>
                            </ul>
                            <button class="item-btn-tocart">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='callback-popup' action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <input type="hidden" name="tagmanager" value="/form.html">
        <span class="popup-form-title">Заказ обратного звонка</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="name" class="popup-form-input" placeholder="Ваше Имя" data-validate-required="Обязательное поле" data-title="Имя">
            </li>
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">Перезвонить</button>
            </li>
        </ul>
    </form>
</div>


</body>
</html>
