{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/png">
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">
    
    <section class="user-room">
        <div class="container">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Личный кабинет</li>
                </ul>
            </nav>
            <span class="page-title">Личный кабинет</span>
        </div>
        <nav class="user-room__tabs">
            <ul class="user-room__tabs-list container">
                <li class="user-room__tabs-item active">Личные данные</li>
                <li class="user-room__tabs-item">История заказов</li>
            </ul>
        </nav>
        <div class="user-room__tabs-content container active">
            <form class="user-room__form">
                <div class="row user-room__form-row">
                    <div class="col-sm-4">
                        <label class="user-room__label" for="name">Ваше имя</label>
                        <input class="user-room__input" type="text" name="name" value="Катя" disabled="">
                    </div>
                    <div class="col-sm-4">
                        <label class="user-room__label" for="last-name">Фамилия</label>
                        <input class="user-room__input" type="text" name="last-name" value="Петренко" disabled="">
                    </div>
                    <div class="col-sm-4">
                        <label class="user-room__label" for="phone">Телефон</label>
                        <input class="user-room__input" type="text" name="phone" value="+38 099 000 00 00" disabled="">
                    </div>
                </div>
                <div class="row user-room__form-row">
                    <div class="col-sm-4">
                        <label class="user-room__label" for="email">E-mail</label>
                        <input class="user-room__input" type="text" name="email" value="katerinapetrenko@gmail.com" disabled="">
                    </div>
                    <div class="col-sm-4">
                        <label class="user-room__label" for="address">Адрес</label>
                        <input class="user-room__input" type="text" name="address" value="г.Харьков ул. Бажанова, 7" disabled="">
                    </div>
                    <div class="col-sm-4">
                        <label class="user-room__label" for="company">Компания</label>
                        <input class="user-room__input" type="text" name="company" value="ООО “Beauty Bar”" disabled="">
                    </div>
                </div>
                <div class="row user-room__form-row">
                    <div class="col-xs-6">             
                        <span class="user-room__select-title">Подписка на новости </span>
                        <select class="user-room__select" disabled="">
                            <option>Нет</option>
                            <option>Да</option>
                        </select>
                    </div>
                    <div class="col-xs-6">             
                        <span class="change-data__btn">Изменить личные данные</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="user-room__tabs-content container">
            <ul class="user-room__order-history">
                <li class="user-room__order-history-items row">
                    <span class="user-room__del-order">×</span>
                    <div class="user-room__order-history-wrapper">
                        <ul class="user-room__order-history-list">
                            <li class="user-room__order-history-item">
                                <div class="user-room__order-history-pic__wrapper">
                                    <img class="user-room__order-history-pic" src="../../images/products/2.png" alt="">
                                </div>
                                <div class="user-room__order-history-info">
                                    <span class="user-room__order-history-type">Парфюмерия</span>
                                    <a class="user-room__order-history-name" href="">393 / See By Chloe / Chloe + флакон</a>
                                </div>
                                <div class="user-room__order-history-buy">
                                    <span class="user-room__order-history-vol">200 мл</span>
                                    <div class="user-room__order-history-price">
                                        <span class="user-room__order-history-usd">9,6 $</span>
                                        <span class="user-room__order-history-uah">259.2 грн</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="user-room__order-history-totals">
                            <span class="user-room__order-history-totals__title">Итого 1 товар на сумму:</span>
                            <div class="user-room__order-history-totals__price">
                                <span class="user-room__order-history-totals__usd">9,6 $</span>
                                <span class="user-room__order-history-totals__uah">259.2 грн</span>
                            </div>                            
                        </div>
                    </div>
                </li>
                <li class="user-room__order-history-items row">
                    <span class="user-room__del-order">×</span>
                    <div class="user-room__order-history-wrapper">
                        <ul class="user-room__order-history-list">
                            <li class="user-room__order-history-item">
                                <div class="user-room__order-history-pic__wrapper">
                                    <img class="user-room__order-history-pic" src="../../images/products/2.png" alt="">
                                </div>
                                <div class="user-room__order-history-info">
                                    <span class="user-room__order-history-type">Парфюмерия</span>
                                    <a class="user-room__order-history-name" href="">393 / See By Chloe / Chloe + флакон</a>
                                </div>
                                <div class="user-room__order-history-buy">
                                    <span class="user-room__order-history-vol">200 мл</span>
                                    <div class="user-room__order-history-price">
                                        <span class="user-room__order-history-usd">9,6 $</span>
                                        <span class="user-room__order-history-uah">259.2 грн</span>
                                    </div>
                                </div>
                            </li>
                            <li class="user-room__order-history-item">
                                <div class="user-room__order-history-pic__wrapper">
                                    <img class="user-room__order-history-pic" src="../../images/products/3.png" alt="">
                                </div>
                                <div class="user-room__order-history-info">
                                    <span class="user-room__order-history-type">Парфюмерия</span>
                                    <a class="user-room__order-history-name" href="">285 / Essential / Lacoste /</a>
                                </div>
                                <div class="user-room__order-history-buy">
                                    <span class="user-room__order-history-vol">200 мл</span>
                                    <div class="user-room__order-history-price">
                                        <span class="user-room__order-history-usd">9,6 $</span>
                                        <span class="user-room__order-history-uah">259.2 грн</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="user-room__order-history-totals">
                            <span class="user-room__order-history-totals__title">Итого 1 товар на сумму:</span>
                            <div class="user-room__order-history-totals__price">
                                <span class="user-room__order-history-totals__usd">24 $</span>
                                <span class="user-room__order-history-totals__uah">648 грн</span>
                            </div>                            
                        </div>
                    </div>
                </li>
            </ul>
            <div class="user-room__order-history__empty">Ваша история заказов пуста</div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='callback-popup' action="" class="popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <input type="hidden" name="tagmanager" value="/form.html">
        <span class="popup-form-title">Заказ обратного звонка</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="name" class="popup-form-input" placeholder="Ваше Имя" data-validate-required="Обязательное поле" data-title="Имя">
            </li>
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">Перезвонить</button>
            </li>
        </ul>
    </form>
</div>


</body>
</html>
