{{! js_inject_point_text_ab !}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parfum House - официальный дистрибьютор разливной парфюмерии</title>
    <link rel="shortcut icon" href="../../images/favicon.ico">
</head>
<body id='body' class="{{! js_inject_point_text_utm !}}">

<header class="main-header">
    <button class="toggle-switch"><span></span></button>
    <button class="search-btn icon-search"></button>
    <ul class="header-menu header-menu__left">
        <li class="header-menu__item header-menu__item-left item1"><a href="">ПАРФЮМЕРИЯ</a></li>
        <li class="header-menu__item header-menu__item-left item2"><a href="">ФЛАКОНЫ</a></li>
        <li class="header-menu__item header-menu__item-left item3"><a href="">ТОРГОВОЕ ОБОРУДОВАНИЕ</a></li>
    </ul>
    <div class="logo-wrapper">
        <a href="">
            <img class="logo-pic" src="../../images/logo.png" alt="">
        </a>
    </div>
    <div class="cart-wrapper icon-basket">
        <a class="cart" href="">
            <span class="cart-items">0</span>
        </a>
    </div>
    <button class="login-btn icon-person"></button>
    <a href="../../files/PRICELIST.pdf" target="_blank" class="price-btn">СКАЧАТЬ ПРАЙС
        <span class="icon-dowl"></span>
    </a>
    <ul class="header-phones__list icon-phone">
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item hidden-phone">
            <a class="header-phones__link" href="tel:+30675141818">
                <span class="code">+38</span>
                (067) 514-18-18
            </a>
        </li>
        <li class="header-phones__item">
            <a class="header-phones__link" href="tel:+380503642380">
                <span class="code">+38</span>
                (050) 364-23-80
            </a>
        </li>
    </ul>
    <ul class="header-menu header-menu__right">
        <li class="header-menu__item header-menu__item-right item4"><a href="">ПАРТНЕРАМ</a></li>
        <li class="header-menu__item header-menu__item-right item5"><a href="">АКЦИИ</a></li>
    </ul>
</header>

<main class="main-container">    
    <section class="vacancies">
        <div class="container">
            <nav class="breadcrumbs">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная</a></li>
                    <li class="breadcrumbs-item separator"> > </li>
                    <li class="breadcrumbs-item">Вакансии</li>
                </ul>
            </nav>
            <span class="page-title">Вакансии</span>
            <div class="vacancies-wrapper">
                <nav class="vacancies-tabs">
                    <ul class="vacancies-list">
                        <li class="vacancies-list__item icon-arrow active"><span>Менеджер по продажам</span></li>
                        <li class="vacancies-list__item icon-arrow"><span>Консультат по продажам</span></li>
                        <li class="vacancies-list__item icon-arrow"><span>Директор по развитию</span></li>
                    </ul>
                    <div class="vacancies-content active">
                        <span class="vacancies-content__title">Менеджер по продажам</span>
                        <article class="vacancies-content__text">
                            В крупную торговую компанию ООО «Parfum House», которая занимается производством и реализацией (оптом и в розницу) парфюмерии и является лидером
                            на рынке Харькова и помимо этого мы сотрудничаем с другими регионами Украины, требуются менеджеры по продажам. У нас склад в центре Харькова наши
                            объемы продаж значительно увеличиваются, много постоянных клиентов, которые довольны нашей работой и рекомендуют нас другим, но не хоти
                             останавливаться на достигнутом, поэтому расширяем штат наших сотрудников.
                        </article>
                        <button data-mfp-src="#resume-popup" class="vacancies-btn popup-btn">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                    <div class="vacancies-content">
                        <span class="vacancies-content__title">Консультат по продажам</span>
                        <article class="vacancies-content__text">
                            В крупную торговую компанию ООО «Parfum House», которая занимается производством и реализацией (оптом и в розницу) парфюмерии и является лидером
                            на рынке Харькова и помимо этого мы сотрудничаем с другими регионами Украины, требуются менеджеры по продажам. У нас склад в центре Харькова наши
                            объемы продаж значительно увеличиваются, много постоянных клиентов, которые довольны нашей работой и рекомендуют нас другим, но не хоти
                             останавливаться на достигнутом, поэтому расширяем штат наших сотрудников.
                        </article>
                        <button data-mfp-src="#resume-popup" class="vacancies-btn popup-btn">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                    <div class="vacancies-content">
                        <span class="vacancies-content__title">Директор по развитию</span>
                        <article class="vacancies-content__text">
                            В крупную торговую компанию ООО «Parfum House», которая занимается производством и реализацией (оптом и в розницу) парфюмерии и является лидером
                            на рынке Харькова и помимо этого мы сотрудничаем с другими регионами Украины, требуются менеджеры по продажам. У нас склад в центре Харькова наши
                            объемы продаж значительно увеличиваются, много постоянных клиентов, которые довольны нашей работой и рекомендуют нас другим, но не хоти
                             останавливаться на достигнутом, поэтому расширяем штат наших сотрудников.
                        </article>
                        <button data-mfp-src="#resume-popup" class="vacancies-btn popup-btn">ОТПРАВИТЬ РЕЗЮМЕ</button>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</main>

<footer class="main-footer" id="contacts">
    <div class="wrapper">
        <div class="top-footer">
            <div class="footer-phones__wrapper">
                <span class="footer-phones__title">Связаться с нами:</span>
                <ul class="footer-phones__list">
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+380675141818">+38 (067) 514-18-18</a></li>
                    <li class="footer-phone"><a class="footer-phone__link" href="tel:+3805036423808">+38 (050) 364-23-80</a></li>
                </ul>
            </div>
            <div class="footer-subscribe__wrapper">
                <form class="subscribe-form">
                    <input class="subscribe-form__input" type="email" name="email" placeholder="Ваш e-mail">
                    <button class="subscribe-form__btn">Подписаться</button>
                </form>
            </div>
            <div class="footer-socials__wrapper">
                <span class="footer-socials__title">Присоединяйтесь:</span>
                <ul class="footer-socials__list">
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-facebook"></a></li>
                    <li class="footer-socials"><a href="" target="_blank" class="footer-socials__link icon-insta"></a></li>
                </ul>
            </div>
            <div class="footer-menu__wrapper">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item"><a href="">Парфюмерия</a></li>
                    <li class="footer-menu__item"><a href="">Флаконы</a></li>
                    <li class="footer-menu__item"><a href="">Торговое оборудование</a></li>
                    <li class="footer-menu__item"><a href="">Акции</a></li>
                    <li class="footer-menu__item"><a href="">О нас</a></li>
                    <li class="footer-menu__item"><a href="">Оплата и доставка</a></li>
                    <li class="footer-menu__item"><a href="">Партнерам</a></li>
                    <li class="footer-menu__item"><a href="">Прайс</a></li>
                </ul>
            </div>
            <div class="footer-payment__wrapper">
                <span class="footer-payment__title">Способы оплаты:</span>
                <ul class="footer-payment__list">
                    <li class="footer-payment__item"><img src="../../images/visa.png" alt="visa"></li>
                    <li class="footer-payment__item"><img src="../../images/mastercard.png" alt="mastercard"></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright-footer">
            <a class="footer-logo__wrapper" href=""><img src="../../images/logo-footer.png"></a>
            <span class="copyright-info">© PARFUM HOUSE <span>Все права защищены</span></span>
            <div class="bz-logo">
                <span class="bz-logo__title">Разработка сайта:</span>
                <a href="//zavodbiz.com/" target="_blank" class="bz-logo__link">Первый бизнес завод</a>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>    
</footer>

<div class="mfp-hide">  
    <form id='resume-popup' action="" class="resume-popup popup-form pbz_form clear-styles" data-error-title="Ошибка отправки!" data-error-message="Попробуйте отправить заявку через некоторое время." data-success-title="Спасибо за заявку!" data-success-message="Наш менеджер свяжется с вами в ближайшее время.">
        <div class="popup-form-title">Оставьте Ваше резюме</div>
        <span class="popup-form-descr">Наш менеджер по подбору персонала свяжеться с Вами</span>
        <ul class="popup-form-fields">
            <li class="popup-form-composition">
                <input type="text" name="phone" class="popup-form-input" placeholder="Ваш телефон" data-validate-required="Обязательное поле" data-validate-uaphone="Неправильный номер" data-title="Телефон">
            </li>
            <li class="popup-form-composition">
                <input type="file" name="attachment" class="popup-form-input attach" placeholder="Прикрепить резюме" data-validate-required="Обязательное поле" data-title="Резюме">
                <label for="attachment">Прикрепить резюме</label>
            </li>
            <li class="popup-form-composition btn-composition">
                <button class="popup-form-btn">ОТПРАВИТЬ</button>
            </li>
        </ul>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </form>
</div>


</body>
</html>
